{{ 'breadcrumb.css' | asset_url | stylesheet_tag }}
{% liquid
  assign Colorscheme = section.settings.color_scheme
%}
<div class="scheme-{{ Colorscheme}} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
  <div class="container">
    <nav class="breadcrumb-nav">
      <ul class="list-inline breadcrumb-list">
        <li class="breadcrumb-item">
          <a href="{{ routes.root_url }}" title="{{ shop.name }}" class="unstyled-link breadcrumb-link">
            {{ 'general.home' | t }}
          </a>
        </li>
        {%- if template contains 'page' -%}
          <li class="breadcrumb-item">
            <span class="breadcrumb-link breadcrumb-text">{{ page.title | strip_html }}</span>
          </li>
        {%- elsif template contains 'product' -%}
          {%- if collection.url -%}
            <li class="breadcrumb-item">
              <span class="breadcrumb-link">
                {{- collection.title | strip_html | truncatewords: 5 | link_to: collection.url }}
              </span>
            </li>
          {%- endif -%}
          <li class="breadcrumb-item">
            <span class="breadcrumb-link breadcrumb-text">{{ product.title | strip_html | truncatewords: 5 }}</span>
          </li>
        {%- elsif template contains 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="breadcrumb-item">
              <span class="breadcrumb-link breadcrumb-text">
                {{- collection.title | strip_html | truncatewords: 5 | link_to: collection.url }}
                <span>{{ current_tags | join: ' + ' }}</span>
              </span>
            </li>
          {%- else -%}
            <li class="breadcrumb-item">
              <span class="breadcrumb-link breadcrumb-text">
                {{- collection.title | strip_html | truncatewords: 5 -}}
              </span>
            </li>
          {%- endif -%}
        {%- elsif template == 'blog' -%}
          {%- if current_tags -%}
            {{ blog.title | link_to: blog.url }}
            <li class="breadcrumb-item">
              <span class="breadcrumb-link breadcrumb-text">{{ current_tags | join: ' + ' }}</span>
            </li>
          {%- else -%}
            <li class="breadcrumb-item">
              <span class="breadcrumb-link breadcrumb-text">{{ blog.title | strip_html }}</span>
            </li>
          {%- endif -%}
        {%- elsif template == 'article' -%}
          <li class="breadcrumb-item">
            <span class="breadcrumb-link breadcrumb-text">{{ blog.title | strip_html | link_to: blog.url }} </span>
          </li>
          <li class="breadcrumb-item">
            <span class="breadcrumb-link breadcrumb-text"> {{ 'blogs.article.blog' | t }}</span>
          </li>
        {%- else -%}
          <li class="breadcrumb-item">
            <span class="breadcrumb-link breadcrumb-text">{{ page_title }}</span>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }}{
       --padding-top: {{ section.settings.top_space_desktop}}px;
       --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
     }
     @media only screen and (max-width:767px) {
       #shopify-section-{{ section.id }}{
         --padding-top: {{ section.settings.top_space_mobile }}px !important;
         --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
       }
     }
     {% if section.settings.section_visibility == 'large' %}
      @media (max-width: 767px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
    {% elsif section.settings.section_visibility == 'small' %}
      @media (min-width: 768px) {
        #shopify-section-{{ section.id }}{
          display: none !important;
        }
      }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.breadcrumb.name",
  "tag": "section",
  "class": "breadcrumb-section",
  "disabled_on": {
    "templates": ["index"],
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:global.general_labels.general"
    },
    {
        "type": "select",
        "id": "section_visibility",
        "label": "t:global.section_visibility.label",
        "default": "always",
        "options": [
          {
            "label": "t:global.section_visibility.options.always.label",
            "value": "always"
          }, {
            "label": "t:global.section_visibility.options.small.label",
            "value": "small"
          }, {
            "label": "t:global.section_visibility.options.large.label",
            "value": "large"
          }
        ]
      },
    {
      "type": "header",
      "content": "t:global.general_labels.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "presets": [
    {
      "name": "t:sections.breadcrumb.name"
    }
  ]
}
{% endschema %}
