{{ 'featured-content.css' | asset_url | stylesheet_tag }}

{% liquid 
    assign Colorscheme = section.settings.color_scheme
  %}
<div class="scheme-{{ Colorscheme }} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
    <div class="container">
        <div class="featured-content-wrapper">
            <div class="featured-content-text-block">
                {% if section.settings.text != blank %}
                  <div class="featured-content-tag-text">{{ section.settings.text }} </div>
                {% endif %}
                {% if section.settings.heading != blank %}
                    <{{ section.settings.seo_heading }} class="{{ section.settings.heading_size }} section-heading">
                      
                    {%- capture highlightPrefix -%}
                    <span class="line-marker {% if section.settings.highlight_style == 'background' %}highlight-background {% if section.settings.bg__color == 'gradient' %}highlight-background-gradient{% else %}highlight-background-solid{% endif %}{% endif %}">
                        {%- endcapture -%}
                        {%- capture highlightSuffix -%}
                        {% if section.settings.highlight_style != 'background' %}
                          {% render 'marker', marker: section.settings.highlight_style %}
                      {% endif %}
                    </span>
                      {%- endcapture -%}
                        {{ section.settings.heading | replace:"[", highlightPrefix | replace:"]",highlightSuffix }}
                     
                    </{{ section.settings.seo_heading }}>
                {% endif %}

                {% if section.settings.description != blank %}
                  <div class="section-description">{{ section.settings.description }}</div>
                {% endif %}

                {% if section.settings.btn_link != blank and section.settings.btn_text != blank %}
                  <div class="featured-content-text-block-button">
                      <a href="{{ section.settings.btn_link }}" class="button {{ section.settings.button_size }}-btn">{{ section.settings.btn_text }}</a>
                  </div>
                {% endif %}
            </div>
            {% if section.blocks.size > 0 %}
                <div class="featured-content-contain-block">
                    {% for block in section.blocks %}
                        {% case block.type %}
                        {% when 'media' %}
                            <div class="featured-content-contain-item" {{ block.shopify_attributes }}>
                                <div class="featured-content-contain-item-text">
                                    {% if block.settings.subheading != blank %}
                                        <div class="featured-content-tag-text">{{ block.settings.subheading }}</div>
                                    {% endif %}

                                    {% if block.settings.heading != blank %}
                                        <{{ block.settings.seo_heading }} class="{{ block.settings.heading_size }} featured-content-contain-heading">{{ block.settings.heading }}</{{ block.settings.seo_heading }}>
                                    {% endif %}

                                    {% if block.settings.description != blank %}
                                        <div class="featured-content-contain-desc">{{ block.settings.description }}</div>
                                    {% endif %}

                                    {% if block.settings.block_tags != blank %}
                                        {% capture tagsPrefix %}
                                            <div class="featured-content-tag-box">
                                                <span class="featured-content-tag-box-icon">
                                                <svg width="32" height="34" viewBox="0 0 32 34" fill="none">
                                                    <path d="M30.1378 7.21538L17.6933 0.43324C17.1735 0.148933 16.5912 0 15.9996 0C15.4079 0 14.8256 0.148933 14.3058 0.43324L1.86133 7.21538C1.29816 7.52258 0.827909 7.9772 0.500274 8.53119C0.172639 9.08518 -0.000208317 9.71796 1.88417e-07 10.3627V23.6371C-0.000121581 24.2819 0.172859 24.9147 0.500656 25.4687C0.828452 26.0227 1.29888 26.4773 1.86222 26.7844L14.3067 33.5665C14.8265 33.851 15.4088 34 16.0004 34C16.5921 34 17.1744 33.851 17.6942 33.5665L30.1387 26.7844C30.7018 26.4772 31.1721 26.0226 31.4997 25.4686C31.8274 24.9146 32.0002 24.2818 32 23.6371V10.3627C32.0001 9.71787 31.8271 9.08503 31.4993 8.53103C31.1715 7.97703 30.7011 7.52246 30.1378 7.21538ZM15.1538 2.00688C15.413 1.86539 15.7033 1.79129 15.9982 1.79129C16.2931 1.79129 16.5834 1.86539 16.8427 2.00688L29.1093 8.68972L23.4356 11.9506L10.616 4.47962L15.1538 2.00688ZM16 16.2242L2.89156 8.68972L8.784 5.47892L21.6489 12.9741L16 16.2242ZM2.70933 25.2107C2.42758 25.0572 2.19228 24.83 2.0283 24.553C1.86432 24.276 1.77776 23.9595 1.77778 23.6371V10.3627C1.78318 10.2839 1.79387 10.2056 1.80978 10.1283L15.1111 17.7737V31.9696L2.70933 25.2107ZM30.2222 23.6371C30.2222 23.9595 30.1357 24.276 29.9717 24.553C29.8077 24.83 29.5724 25.0572 29.2907 25.2107L16.8889 31.9696V17.7737L30.1902 10.1292C30.2061 10.2065 30.2168 10.2848 30.2222 10.3636V23.6371Z" fill="currentColor"></path>
                                                </svg>
                                                </span>
                                                <span class="featured-content-tag-box-text">
                                        {% endcapture %}
                                        {% capture tagSuffix %}
                                                {% comment %} IT solutions {% endcomment %}
                                                </span>
                                            </div>
                                        {% endcapture %}
                                        <div class="featured-content-tag-wrap">
                                            {{ block.settings.block_tags | replace: '[', tagsPrefix | replace: ']', tagSuffix }}
                                        </div>
                                    {% endif %}

                                    {% if block.settings.end_date != blank %}
                                        {% assign launch_date = block.settings.end_date %}
                                        <div class="lowest-price-offer">
                                            {% if block.settings.heading_text != blank %}
                                                <span>{{ block.settings.heading_text }}</span>
                                            {% endif %}
                                            <div
                                                class="count-timer"
                                                {% if block.settings.end_date != blank %}
                                                data-launch-date="{{ launch_date }}"
                                                data-countdown-timer
                                                {% endif %}
                                            >
                                                <div class="count count-day"><span class="days"></span>Days</div>
                                                <div class="count count-hours"><span class="hours"></span>Hours</div>
                                                <div class="count count-minutes"><span class="minutes"></span>Minutes</div>
                                                <div class="count count-sec"><span class="seconds"></span>Seconds</div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if block.settings.btn_link != blank and block.settings.btn_text != blank %}
                                        <div class="featured-content-contain-button">
                                            <a href="{{ block.settings.btn_link }}" class="{% if block.settings.button_as_link %}hyperlink {% else %} button small-btn{% if settings.enable_button_shadow %} button-shadow{% endif %}{% endif %} " aria-label="{{ block.settings.btn_text }} " title="{{ block.settings.btn_text }}">
                                            {{block.settings.btn_text}}
                                            </a>
                                            {% comment %} <a href="{{ block.settings.btn_link }}" class="text-underline">{{ block.settings.btn_text }}</a> {% endcomment %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="featured-content-contain-item-image">
                                    <div class="featured-content-contain-item-image-inner">
                                        <div class="media" style="--imageRatio:100%;">
                                            {% if block.settings.video !=blank %}
                                                <deferred-media class="deferred-media">
                                                    <template>
                                                        <video class="featured_content_video" autoPlay muted loop playsinline>
                                                            <source src="{{ block.settings.video.sources[0].url }}" type="video/mp4">
                                                            <source src="{{ block.settings.video.sources[1].url }}">
                                                        </video>
                                                    </template>
                                                    <div class="deferred-media-placeholder">
                                                        {% render 'lazy-image', image: block.settings.video.preview_image, imageSize: 1920 %}
                                                    </div>
                                                    <noscript>
                                                        <a
                                                            href="{{ block.settings.video | external_video_url }}"
                                                            target="_blank"
                                                            class="unstyled-link"
                                                            aria-label="{{ block.settings.video.alt | default: product.title | strip_html }}"
                                                        >
                                                        {% comment %}theme-check-disable ImgWidthAndHeight{% endcomment %}
                                                        <img
                                                            src="{{ block.settings.video.preview_image | image_url: width: 2048 }}"
                                                            alt="{{ block.settings.video.preview_image.alt | escape }}"
                                                            loading="lazy"
                                                        >
                                                        {% comment %}theme-check-enable ImgWidthAndHeight{% endcomment %}
                                                        </a>
                                                    </noscript>
                                                </deferred-media>
                                            {% elsif block.settings.image != blank %}
                                                {% render 'lazy-image', image: block.settings.image %}
                                            {% else %}
                                                {% capture placeholderIndex %}{% cycle cycleGroup: '1', '2' %}{% endcapture %}
                                                {{ 'hero-apparel-'| append: placeholderIndex | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% when 'collection' %}
                            {% liquid assign collection = block.settings.featured_collection %}
                            <div class="featured-content-contain-item" {{ block.shopify_attributes }}>
                                <div class="featured-content-contain-item-text">
                                    {% if block.settings.collection_custom_title != blank %}
                                        <h2 class="h2 featured-content-contain-heading">{{ block.settings.collection_custom_title }}</h2>
                                    {% else %}
                                        <h2 class="h2 featured-content-contain-heading">{{ collection.title }}</h2>
                                    {% endif %}

                                    {% if block.settings.coll_block_tags != blank %}
                                        {% capture colltagsPrefix %}
                                            <div class="featured-content-tag-box">
                                                <span class="featured-content-tag-box-icon">
                                                <svg width="32" height="34" viewBox="0 0 32 34" fill="none">
                                                    <path d="M30.1378 7.21538L17.6933 0.43324C17.1735 0.148933 16.5912 0 15.9996 0C15.4079 0 14.8256 0.148933 14.3058 0.43324L1.86133 7.21538C1.29816 7.52258 0.827909 7.9772 0.500274 8.53119C0.172639 9.08518 -0.000208317 9.71796 1.88417e-07 10.3627V23.6371C-0.000121581 24.2819 0.172859 24.9147 0.500656 25.4687C0.828452 26.0227 1.29888 26.4773 1.86222 26.7844L14.3067 33.5665C14.8265 33.851 15.4088 34 16.0004 34C16.5921 34 17.1744 33.851 17.6942 33.5665L30.1387 26.7844C30.7018 26.4772 31.1721 26.0226 31.4997 25.4686C31.8274 24.9146 32.0002 24.2818 32 23.6371V10.3627C32.0001 9.71787 31.8271 9.08503 31.4993 8.53103C31.1715 7.97703 30.7011 7.52246 30.1378 7.21538ZM15.1538 2.00688C15.413 1.86539 15.7033 1.79129 15.9982 1.79129C16.2931 1.79129 16.5834 1.86539 16.8427 2.00688L29.1093 8.68972L23.4356 11.9506L10.616 4.47962L15.1538 2.00688ZM16 16.2242L2.89156 8.68972L8.784 5.47892L21.6489 12.9741L16 16.2242ZM2.70933 25.2107C2.42758 25.0572 2.19228 24.83 2.0283 24.553C1.86432 24.276 1.77776 23.9595 1.77778 23.6371V10.3627C1.78318 10.2839 1.79387 10.2056 1.80978 10.1283L15.1111 17.7737V31.9696L2.70933 25.2107ZM30.2222 23.6371C30.2222 23.9595 30.1357 24.276 29.9717 24.553C29.8077 24.83 29.5724 25.0572 29.2907 25.2107L16.8889 31.9696V17.7737L30.1902 10.1292C30.2061 10.2065 30.2168 10.2848 30.2222 10.3636V23.6371Z" fill="currentColor"></path>
                                                </svg>
                                                </span>
                                                <span class="featured-content-tag-box-text">
                                        {% endcapture %}
                                        {% capture colltagSuffix %}
                                                {% comment %} IT solutions {% endcomment %}
                                                </span>
                                            </div>
                                        {% endcapture %}
                                        <div class="featured-content-tag-wrap">
                                            {{ block.settings.coll_block_tags | replace: '[', colltagsPrefix | replace: ']', colltagSuffix }}
                                        </div>
                                    {% endif %}

                                    {% if block.settings.coll_end_date != blank %}
                                        {% assign coll_launch_date = block.settings.coll_end_date %}
                                        <div class="lowest-price-offer">
                                            {% if block.settings.coll_heading_text != blank %}
                                                <span>{{ block.settings.coll_heading_text }}</span>
                                            {% endif %}
                                            <div
                                                class="count-timer"
                                                {% if block.settings.coll_end_date != blank %}
                                                data-launch-date="{{ coll_launch_date }}"
                                                data-countdown-timer
                                                {% endif %}
                                            >
                                                <div class="count count-day"><span class="days"></span>Days</div>
                                                <div class="count count-hours"><span class="hours"></span>Hours</div>
                                                <div class="count count-minutes"><span class="minutes"></span>Minutes</div>
                                                <div class="count count-sec"><span class="seconds"></span>Seconds</div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if collection.url != blank %}
                                        <div class="featured-content-contain-button">
                                            <a href="{{ collection.url }}" class="{% if block.settings.coll_button_as_link %}hyperlink {% else %} button small-btn{% if settings.enable_button_shadow %} button-shadow{% endif %}{% endif %} " aria-label="{{ collection.title }}">
                                                {{ block.settings.coll_btn_text | default : 'Shop now'}}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="featured-content-contain-item-image">
                                    <div class="featured-content-contain-item-image-inner">
                                        <div class="media" style="--imageRatio:100%;">
                                            {% if block.settings.coll_image != blank %}
                                                {% render 'lazy-image', image: block.settings.coll_image %}
                                            {% elsif collection.featured_image != blank %}
                                                {% render 'lazy-image', image: collection.featured_image %}
                                            {% else %}
                                                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endcase %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<style>
  #shopify-section-{{ section.id }}{
    --padding-top: {{ section.settings.top_space_desktop}}px;
    --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
      --padding-top: {{ section.settings.top_space_mobile }}px !important;
      --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media(min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% endif %} 
</style>

{% schema %}
{
    "name": "t:sections.featured_content.name",
    "tag": "section",
    "class": "featured-content-section",
    "disabled_on": {
        "groups": [
            "header",
            "footer"
        ]
    },
    "settings": [
        {
            "type": "select",
            "id": "section_visibility",
            "label": "t:global.section_visibility.label",
            "default": "always",
            "options": [
              {
                "label": "t:global.section_visibility.options.always.label",
                "value": "always"
              },
              {
                "label": "t:global.section_visibility.options.small.label",
                "value": "small"
              },
              {
                "label": "t:global.section_visibility.options.large.label",
                "value": "large"
              }
            ]
        },
        {
            "type": "text",
            "id": "text",
            "label": "t:sections.featured_content.settings.tag.label",
            "default": "Add your offered service"
        }, 
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "t:global.heading.label",
            "info": "t:global.heading.info",
            "default": "Add featured heading here"
        },
        {
            "type": "select",
            "id": "highlight_style",
            "label": "t:sections.blog-posts.settings.highlight_style.label",
            "default": "underline",
            "options": [
                {
                    "value": "underline",
                    "label": "t:global.highlight_style.options.underline.label"
                },
                {
                    "value": "shape_2",
                    "label": "t:global.highlight_style.options.shape_2.label"
                },
                {
                    "value": "shape_3",
                    "label": "t:global.highlight_style.options.shape_3.label"
                },
                {
                    "value": "shape_4",
                    "label": "t:global.highlight_style.options.shape_4.label"
                },
                {
                    "value": "shape_5",
                    "label": "t:global.highlight_style.options.shape_5.label"
                },
                {
                    "value": "shape_6",
                    "label": "t:global.highlight_style.options.shape_6.label"
                },
                {
                    "value": "background",
                    "label": "t:global.highlight_style.options.background.label"
                },
          {
            "value": "no_shape",
            "label": "t:global.highlight_style.options.no_shape.label"
          }
            ]
        },
        {
            "type": "select",
            "id": "bg__color",
            "label": "t:sections.blog-posts.settings.bg__color.label",
            "default": "gradient",
            "options": [
                {
                    "value": "gradient",
                    "label": "t:sections.blog-posts.settings.bg__color.options.gradient.label"
                },
                {
                    "value": "solid",
                    "label": "t:sections.blog-posts.settings.bg__color.options.solid.label"
                }
            ]
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "t:global.heading.heading_size.label",
            "default": "h1",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ]
        },
        {
            "type": "select",
            "id": "seo_heading",
            "label": "t:global.heading.heading_tag.label",
            "info": "t:global.heading.heading_tag.info",
            "default": "h2",
            "options": [
                {
                    "value": "h1",
                    "label": "H1"
                },
                {
                    "value": "h2",
                    "label": "H2"
                },
                {
                    "value": "h3",
                    "label": "H3"
                },
                {
                    "value": "h4",
                    "label": "H4"
                },
                {
                    "value": "h5",
                    "label": "H5"
                },
                {
                    "value": "h6",
                    "label": "H6"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "t:global.general_labels.description",
            "default": "<p>Add short description</p>"
        },
        {
            "type": "header",
            "content": "t:global.general_labels.button_header"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "t:global.general_labels.text",
            "default": "Button label"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "t:global.general_labels.link",
            "default": "/collections/all"
        },
        {
            "type": "select",
            "id": "button_size",
            "label": "t:global.general_labels.size",
            "default": "medium",
            "options": [
                {
                    "value": "small",
                    "label": "t:global.general_labels.small"
                },
                {
                    "value": "medium",
                    "label": "t:global.general_labels.medium"
                },
                {
                    "value": "large",
                    "label": "t:global.general_labels.large"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:global.general_labels.color"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "primary",
            "label": "t:global.color_scheme.label"
        },
        {
            "type": "checkbox",
            "id": "enable_gradient",
            "label": "t:global.general_labels.gradient",
            "default": false
        },
        {
            "type": "header",
            "content": "t:global.section_padding.label"
        },
        {
            "type": "range",
            "id": "top_space_desktop",
            "label": "t:global.section_padding.options.top_space_desktop.label",
            "default": 30,
            "min": 0,
            "max": 150,
            "step": 5
        },
        {
            "type": "range",
            "id": "bottom_space_desktop",
            "label": "t:global.section_padding.options.bottom_space_desktop.label",
            "default": 40,
            "min": 0,
            "max": 150,
            "step": 5
        },
        {
            "type": "range",
            "id": "top_space_mobile",
            "label": "t:global.section_padding.options.top_space_mobile.label",
            "default": 20,
            "min": 0,
            "max": 100,
            "step": 5
        },
        {
            "type": "range",
            "id": "bottom_space_mobile",
            "label": "t:global.section_padding.options.bottom_space_mobile.label",
            "default": 25,
            "min": 0,
            "max": 100,
            "step": 5
        }
    ],
    "blocks": [
        {
            "type": "media",
            "name": "t:sections.featured_content.blocks.media.name",
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.featured_content.blocks.media.settings.content.label"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "t:global.general_labels.subheading",
                    "default": "Add subheading here"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:global.general_labels.heading",
                    "default": "Featured heading here"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "t:global.heading.heading_size.label",
                    "default": "h2",
                    "options": [
                        {
                            "value": "h1",
                            "label": "H1"
                        },
                        {
                            "value": "h2",
                            "label": "H2"
                        },
                        {
                            "value": "h3",
                            "label": "H3"
                        },
                        {
                            "value": "h4",
                            "label": "H4"
                        },
                        {
                            "value": "h5",
                            "label": "H5"
                        },
                        {
                            "value": "h6",
                            "label": "H6"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "seo_heading",
                    "label": "t:global.heading.heading_tag.label",
                    "info": "t:global.heading.heading_tag.info",
                    "default": "h2",
                    "options": [
                        {
                            "value": "h1",
                            "label": "H1"
                        },
                        {
                            "value": "h2",
                            "label": "H2"
                        },
                        {
                            "value": "h3",
                            "label": "H3"
                        },
                        {
                            "value": "h4",
                            "label": "H4"
                        },
                        {
                            "value": "h5",
                            "label": "H5"
                        },
                        {
                            "value": "h6",
                            "label": "H6"
                        }
                    ]
                },
                {
                    "type": "textarea",
                    "id": "block_tags",
                    "label": "t:sections.featured_content.blocks.media.settings.block_tags.label",
                    "info": "t:sections.featured_content.blocks.media.settings.block_tags.info",
                    "default": "[Featured tag][Featured tag][Featured tag]"
                    
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "t:global.general_labels.description",
                    "default": "<p>Add description about your brand or featured content.</p>"
                },
                {
                    "type": "header",
                    "content": "t:sections.featured_content.blocks.media.settings.header.label"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:global.general_labels.image"
                },
                {
                    "type": "video",
                    "id": "video",
                    "label": "t:global.general_labels.video"
                },
                {
                    "type": "header",
                    "content": "t:global.product_block.countdown.name"
                },
                {
                    "type": "text",
                    "id": "heading_text",
                    "label": "t:global.general_labels.text",
                    "default": "Counter text"
                },
                {
                    "type": "text",
                    "id": "end_date",
                    "label": "t:global.product_block.countdown.settings.end_date.label",
                    "info": "t:global.product_block.countdown.settings.end_date.info"
                },
                {
                    "type": "header",
                    "content": "t:global.general_labels.button"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "t:global.general_labels.text",
                    "default": "Button label"
                },
                {
                    "type": "url",
                    "id": "btn_link",
                    "label": "t:global.general_labels.link",
                    "default": "/collections/all"
                },
                {
                    "type": "checkbox",
                    "id": "button_as_link",
                    "label": "t:global.general_labels.button_as_link",
                    "default": false
                }
            ]
        },
        {
            "type": "collection",
            "name": "t:sections.featured_content.blocks.collection.name",
            "limit": 2,
            "settings": [
                {
                    "type": "collection",
                    "id": "featured_collection",
                    "label": "t:sections.featured_content.blocks.collection.settings.featured_collection.label"
                },
                {
                    "type": "image_picker",
                    "id": "coll_image",
                    "label": "t:global.general_labels.image"
                },
                {
                    "type": "text",
                    "id": "collection_custom_title",
                    "label": "t:sections.featured_content.blocks.collection.settings.collection_custom_title.label",
                    "info": "t:sections.featured_content.blocks.collection.settings.collection_custom_title.info",
                    "default": "Featured heading here"
                },
                {
                    "type": "textarea",
                    "id": "coll_block_tags",
                    "label": "t:sections.featured_content.blocks.collection.settings.coll_block_tags.label",
                    "info": "t:sections.featured_content.blocks.collection.settings.coll_block_tags.info",
                    "default": "[Featured tag][Featured tag][Featured tag]"
                },
                {
                    "type": "header",
                    "content": "t:global.product_block.countdown.name"
                },
                {
                    "type": "text",
                    "id": "coll_heading_text",
                    "label": "t:global.general_labels.text",
                    "default": "Counter text"
                },
                {
                    "type": "text",
                    "id": "coll_end_date",
                    "label": "t:global.product_block.countdown.settings.end_date.label",
                    "info": "t:global.product_block.countdown.settings.end_date.info"
                },
                {
                    "type": "header",
                    "content": "t:global.general_labels.button"
                },
                {
                    "type": "text",
                    "id": "coll_btn_text",
                    "label": "t:global.general_labels.text",
                    "default": "Shop now"
                },
                {
                    "type": "checkbox",
                    "id": "coll_button_as_link",
                    "label": "t:global.general_labels.button_as_link",
                    "default": false
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.featured_content.presets.name",
            "blocks": [
                {
                    "type": "media"
                },
                {
                    "type": "collection"
                },
                {
                    "type": "media"
                }
            ]
        }
    ]
}
{% endschema %}