{{ 'images-banner.css' | asset_url | stylesheet_tag }}
{% liquid
  assign Colorscheme = section.settings.color_scheme
%}

<div class="scheme-{{ Colorscheme }} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
  {% if section.blocks.size > 0 %}
    <div class="images-banner-wrapper" data-banner-wrapper>
      <div class="images-banner-images-block">
        {% for block in section.blocks %}
            {% if block.settings.heading != blank or block.settings.description != blank %}
              <div
                id="images-banner-img-item-{{ block.id }}"
                class="images-banner-img-item {% if forloop.index == 1 %}active{% endif %}"
                data-block-id="{{ block.id }}"
                data-banner-image
                {{ block.shopify_attributes }}
              >
                <div class="images-banner-img">
                  {% liquid
                    if block.settings.image != blank
                      render 'lazy-image', image: block.settings.image
                    else
                      capture placeholderIndex
                        cycle cycleGroup: '1', '2', '3'
                      endcapture
                      echo 'hero-apparel-' | append: placeholderIndex | placeholder_svg_tag: 'placeholder-svg'
                    endif
                  %}
                </div>
                {% if section.settings.enable_shape and block.settings.image != blank %}
                  <div
                    class="images-banner-shape {{ section.settings.shape_pattern }}"
                    style="--bg-image: url({{ block.settings.image | img_url:'master' }})"
                  ></div>
                {% endif %}
              </div>
            {% endif %}
        {% endfor %}
      </div>
      <div class="images-banner-content-block">
        <ul class="images-banner-content-inner">
          {% for block in section.blocks %}
            {% if block.settings.heading != blank or block.settings.description != blank %}
              <li
                class="images-banner-content-item{% if forloop.index == 1 %} active{% endif %}"
                data-block-id="{{ block.id }}"
                data-banner-text
                {{ block.shopify_attributes }}
              >
                {% if block.settings.heading != blank %}
                  <span
                    class="images-banner-content-item-link heading-font h1 cursor-pointer"
                    data-text="{{ block.settings.heading }}"
                  >
                    {{- block.settings.heading -}}
                  </span>
                {% endif %}
                {% if block.settings.description != blank %}
                  <p>{{ block.settings.description }}</p>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>

<style>
  #shopify-section-{{ section.id }}{
    --padding-top: {{ section.settings.top_space_desktop}}px;
    --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
    --collectionBannerHeight: {{ section.settings.desktop_image_height }};
    --shapeBackground:{{ section.settings.shape_color.red }},{{ section.settings.shape_color.green }},{{ section.settings.shape_color.blue }};
    --shapeOpacity:{{ section.settings.shape_opacity }};
    {% unless section.settings.heading_color == 'rgba(0,0,0,0)' or section.settings.heading_color == blank %}
    --collectionHeadingColor: {{ section.settings.heading_color }};
    {% else %}
    --collectionHeadingColor: var(--headingColor);
    {%endunless %}
    {% unless section.settings.heading_hover_color == 'rgba(0,0,0,0)' or section.settings.heading_hover_color == blank %}
    --collectionHeadingHoverColor: {{ section.settings.heading_hover_color }};
    {% else %}
    --collectionHeadingHoverColor: var(--textColor);
    {% endunless %}
  }

  {% for block in section.blocks %}
    #images-banner-img-item-{{ block.id }}{
      --overlayBackground:{{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }};
      --overlayOpacity:{{ block.settings.overlay_opacity }};
    }
  {% endfor %}

  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
      --padding-top: {{ section.settings.top_space_mobile }}px !important;
      --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
      --collectionBannerHeight: {{ section.settings.mobile_image_height }};
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media(min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.images-banner.name",
  "tag": "section",
  "class": "images-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:global.general_labels.general"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:global.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:global.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:global.section_visibility.options.small.label",
          "value": "small"
        },
        {
          "label": "t:global.section_visibility.options.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_image_height",
      "label": "t:sections.images-banner.settings.desktop_image_height.label",
      "default": "600px",
      "options": [
        {
          "value": "600px",
          "label": "600px"
        },
        {
          "value": "700px",
          "label": "700px"
        },
        {
          "value": "800px",
          "label": "800px"
        },
        {
          "value": "100vh",
          "label": "t:global.general_labels.fullscreen"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_image_height",
      "label": "t:sections.images-banner.settings.mobile_image_height.label",
      "default": "400px",
      "options": [
        {
          "value": "400px",
          "label": "400px"
        },
        {
          "value": "500px",
          "label": "500px"
        },
        {
          "value": "600px",
          "label": "600px"
        },
        {
          "value": "100vh",
          "label": "t:global.general_labels.fullscreen"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_shape",
      "label": "t:sections.images-banner.settings.enable_shape.label"
    },
    {
      "type": "select",
      "id": "shape_pattern",
      "label": "t:sections.images-banner.settings.shape_pattern.label",
      "default": "shape1",
      "options": [
        {
          "label": "t:sections.images-banner.settings.shape_pattern.options.shape1.label",
          "value": "shape1"
        },
        {
          "label": "t:sections.images-banner.settings.shape_pattern.options.shape2.label",
          "value": "shape2"
        },
        {
          "label": "t:sections.images-banner.settings.shape_pattern.options.shape3.label",
          "value": "shape3"
        },
        {
          "label": "t:sections.images-banner.settings.shape_pattern.options.shape4.label",
          "value": "shape4"
        }
      ]
    },
    {
      "type": "color",
      "id": "shape_color",
      "default": "#ffffff",
      "label": "t:sections.images-banner.settings.shape_color.label"
    },
    {
      "type": "range",
      "id": "shape_opacity",
      "label": "t:sections.images-banner.settings.shape_opacity.label",
      "default": 0,
      "min": 0,
      "max": 1,
      "step": 0.1
    },
    {
      "type": "header",
      "content": "t:global.general_labels.colors"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#000000",
      "label": "t:sections.images-banner.settings.heading_color.label"
    },
    {
      "type": "color",
      "id": "heading_hover_color",
      "default": "#ffffff",
      "label": "t:sections.images-banner.settings.heading_hover_color.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.images-banner.blocks.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.images-banner.blocks.settings.heading.label",
          "default": "Heading here"
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "t:sections.images-banner.blocks.settings.description.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.general_labels.image"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "default": "#000000",
          "label": "t:sections.images-banner.blocks.settings.overlay_color.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:sections.images-banner.blocks.settings.overlay_opacity.label",
          "default": 0.5,
          "min": 0,
          "max": 1,
          "step": 0.1
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.images-banner.presets.name",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
