{% if section.index <= 2 %}
  {{ 'logo-list.css' | asset_url | preload_tag: as: 'style' }}
{% endif %}
{{ 'logo-list.css' | asset_url | stylesheet_tag }}

{% liquid 
  assign Colorscheme = section.settings.color_scheme
%}
{% capture logoContent %}
  {% for block in section.blocks %}
    {% if block.type == 'logo' %}
      {% if section.settings.carousel_type == 'carousel' %}
        <div class="logo-carousel-item" {{ block.shopify_attributes }}>
      {% endif %}
      {% assign aosDelay= forloop.index0 | times:100 %}
      <{% if block.settings.image_link != blank %}a href="{{ block.settings.image_link }}"{% else %}span{% endif %} class="logo-item" {% if settings.enable_animation %}data-aos="fade-up" data-aos-delay="{{ aosDelay }}"{% endif %}>
        <div id="block-{{ block.id }}" class="logo-item-inner logo-background-{{ section.settings.show_card_background }} {% if section.settings.enable_card_shadow %} card-shadow-enabled{% endif %}">
          {% if block.settings.image_url != blank %}
            {% render 'lazy-image', image_url: block.settings.image_url %}
          {% elsif block.settings.image != blank %}
            {% render 'lazy-image', image: block.settings.image %}
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        </div>
      </{% if block.settings.image_link != blank %}a{% else %}span{% endif %} >
      {% if section.settings.carousel_type == 'carousel' %}
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endcapture %}
<div class="scheme-{{ Colorscheme}} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %} border-{{ section.settings.show_borders }}">
    <div class="{{ settings.layout_style }}">
      {% if section.settings.heading != blank %}
      <div class="section-title {{ section.settings.heading_alignment }}">
          {%- capture highlightPrefix -%}
          <span class="line-marker {% if section.settings.highlight_style == 'background' %}highlight-background {% if section.settings.bg__color == 'gradient' %}highlight-background-gradient{% else %}highlight-background-solid{% endif %}{% endif %}">
            {%- endcapture -%}
            {%- capture highlightSuffix -%}
            {% if section.settings.highlight_style != 'background' %}
              {% render 'marker', marker: section.settings.highlight_style %}
           {% endif %}
          </span>
          {%- endcapture -%}
          <{{ section.settings.seo_heading }} class="{{ section.settings.heading_size }} section-heading {% if section.settings.heading_animation %} linear-animation{% endif %}">
            {% if section.settings.heading_animation %}
              {{ section.settings.heading }}
           {% else %}
            {{ section.settings.heading | replace:"[", highlightPrefix | replace:"]",highlightSuffix}}
            {% endif %}
          </{{ section.settings.seo_heading }}>
      </div>
      {% endif %}
      {%- capture direction -%}
        {%- if section.settings.direction == 'ltr' -%}
        {%- cycle section_id:'ltr','rtl' -%}
        {%- else -%}      
        {%- cycle section_id:'rtl','ltr' -%}
        {%- endif -%}
        {%- endcapture -%}
      <div class="logo-items-wrapper {% if section.settings.carousel_type == 'grid' %} text-{{ section.settings.grid_alignment}} stacked{% elsif section.settings.carousel_type == 'marquee'  %}{{ direction }}-direction marquee{% else %}{% endif %} {% if section.settings.carousel_type == 'carousel' %}slider-active slider{% endif %} {% if section.settings.swipe_mobile %} swipe_on_mobile{% endif %} {% if section.settings.images_height and section.settings.carousel_type != 'carousel'%} images_equal_height{% endif %}" 
        {% if section.settings.carousel_type == 'marquee' %}data-marquee data-marquee-speed="{{ section.settings.scrolling_speed }}"
        data-marquee-speed-mobile="{{ section.settings.scrolling_speed_mobile }}"{% endif %} 
        {% if section.settings.carousel_type == 'carousel' %}  
        data-slideshow='
          {
            "cellAlign":"left",
            "contain": true,
            "pageDots": false,
            "draggable": true,
            "prevNextButtons": false,
            "wrapAround":true,
            "groupCells": true,
            "autoPlay": {% if section.settings.auto_rotate == true %}{{ section.settings.change_slides_speed | times: 1000 }}{% else %}false{% endif %},
            "cellSelector":".logo-carousel-item"
          }'{% endif %}>
        {% if section.settings.carousel_type == 'grid' %}
          {{ logoContent }}
        {% elsif section.settings.carousel_type == 'carousel'  %}
          {{ logoContent }}
        {% else %}
        {%liquid
          if  section.settings.carousel_type == 'marquee'
          assign limit = 2 
          if section.blocks.size <= 3 
          assign limit = 3 
          endif 
          else
          assign limit=1
          endif 
        %}
        {% for i in (1..limit) %}
          {% if  section.settings.carousel_type == 'marquee' %}
          <div class="logo-list-marquee {{ section.settings.direction }}" data-marque-node>
            {% endif %}
            {{ logoContent }}
            {% if  section.settings.carousel_type == 'marquee' %}
          </div>
          {% endif %} 
        {% endfor %}
      {% endif %}
      {% if  section.settings.carousel_type == 'carousel' %}
        {% render 'carousal-arrows', class: 'custom-navigation-button-icon' %}
      {% endif %}
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}{
    --padding-top: {{ section.settings.top_space_desktop}}px;
    --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
    --columnSpace: {{ section.settings.column_spacing }}px;
    {% unless section.settings.card_color == 'rgba(0,0,0,0)' or section.settings.card_color == blank %}
      --columnBackground: {{ section.settings.card_color.red}}, {{ section.settings.card_color.green}}, {{ section.settings.card_color.blue}}, {{ section.settings.card_color.alpha}};
      {% else %}
      --columnBackground: var(--cardBackground),1;
    {% endunless %}
  } 
  
  {% for block in section.blocks %}
    #block-{{ block.id }}{  
    --logoWidth: {{ block.settings.image_width }}%;
    }
  {% endfor %}
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
      --padding-top: {{ section.settings.top_space_mobile }}px !important;
      --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
      --columnCount:{{ section.settings.columns_mobile }};
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media (min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
{% endif %}
html[color-mode="dark"] #shopify-section-{{ section.id }} {
  --columnBackground: 46,46,46,1;
  }
</style>
{% schema %}
{
  "name": "t:sections.logo-list.name",
  "tag": "section",
  "class": "logo-list-section",
  "disabled_on":{
    "groups":["header","footer"]
  },
  "max_blocks": 16,
  "settings":[
    {
      "type":"header",
      "content": "t:global.general_labels.general"
    },
    {
            "type": "select",
            "id": "section_visibility",
            "label": "t:global.section_visibility.label",
            "default": "always",
            "options": [
                {
                    "label": "t:global.section_visibility.options.always.label",
                    "value": "always"
                },
                {
                    "label": "t:global.section_visibility.options.small.label",
                    "value": "small"
                },
                {
                    "label": "t:global.section_visibility.options.large.label",
                    "value": "large"
                }
            ]
        },
    {
      "type": "checkbox",
      "id": "images_height",
      "label": "t:sections.logo-list.settings.images_height.label",
      "info":"t:sections.logo-list.settings.images_height.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_borders",
      "label": "t:sections.logo-list.settings.show_borders.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_card_background",
      "label": "t:sections.logo-list.settings.show_card_background.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_card_shadow",
      "label": "t:sections.logo-list.settings.enable_card_shadow.label",
      "default": false
    },
    {
      "type": "select",
      "id": "carousel_type",
      "default": "marquee",
      "label": "t:sections.logo-list.settings.carousel_type.label",
      "options": [
        {
          "value": "carousel",
          "label": "t:sections.logo-list.settings.carousel_type.options.carousel.label"
        },
        {
          "value": "grid",
          "label": "t:sections.logo-list.settings.carousel_type.options.grid.label"
        },
        {
          "value": "marquee",
          "label": "t:sections.logo-list.settings.carousel_type.options.marquee.label"
        }
      ]
    },
    {
      "type":"header",
      "content":"t:sections.logo-list.settings.carousel_type.options.carousel.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.logo-list.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.logo-list.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type":"header",
      "content":"t:sections.logo-list.settings.grid_header.content"
    },
    {
      "type": "range",
      "id": "column_spacing",
      "label": "t:sections.logo-list.settings.column_spacing.label",
      "min": 0,
      "max": 40,
      "unit": "px",
      "step": 2,
      "default": 10
    },
    {
      "type": "text_alignment",
      "id": "grid_alignment",
      "default": "left",
      "label": "t:sections.logo-list.settings.grid_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_mobile",
      "label": "t:sections.logo-list.settings.swipe_mobile.label",
      "default": true
    },
    {
      "type":"header",
      "content":"t:sections.logo-list.settings.marquee_header.content"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "label": "t:sections.logo-list.settings.scrolling_speed.label",
      "min": 1,
      "max": 100,
      "unit": "s",
      "default": 15
    },
    {
      "type": "range",
      "id": "scrolling_speed_mobile",
      "label": "t:sections.logo-list.settings.scrolling_speed_mobile.label",
      "min": 1,
      "max": 100,
      "unit": "s",
      "default": 15
    },
    {
      "type": "select",
      "id": "direction",
      "label": "t:sections.logo-list.settings.direction.label",
      "default": "ltr",
      "options": [
        {
          "value": "ltr",
          "label": "t:sections.logo-list.settings.direction.options.ltr.label"
        },
        {
          "value": "rtl",
          "label": "t:sections.logo-list.settings.direction.options.rtl.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.general_labels.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:global.heading.label",
      "info": "t:global.heading.info",
      "default": "Logo list"
    },
    {
      "type": "select",
      "id": "highlight_style",
      "label": "t:global.highlight_style.label",
      "default": "underline",
      "options": [
        {
          "value": "underline",
          "label": "t:global.highlight_style.options.underline.label"
        },
        {
          "value": "shape_2",
          "label": "t:global.highlight_style.options.shape_2.label"
        },
        {
          "value": "shape_3",
          "label": "t:global.highlight_style.options.shape_3.label"
        },
        {
          "value": "shape_4",
          "label": "t:global.highlight_style.options.shape_4.label"
        },
        {
          "value": "shape_5",
          "label": "t:global.highlight_style.options.shape_5.label"
        },
        {
          "value": "shape_6",
          "label": "t:global.highlight_style.options.shape_6.label"
        },
        {
          "value": "background",
          "label": "t:global.highlight_style.options.background.label"
        },
          {
            "value": "no_shape",
            "label": "t:global.highlight_style.options.no_shape.label"
          }
      ]
    },
    {
      "type": "select",
      "id": "bg__color",
      "label": "t:global.bg__color.label",
      "default": "gradient",
      "options": [
        {
          "value": "gradient",
          "label": "t:global.bg__color.options.gradient.label"
        },
        {
          "value": "solid",
          "label": "t:global.bg__color.options.solid.label"
        }
      ]
    },
    {
      "type":"checkbox",
      "id":"heading_animation",
      "label":"t:global.heading_animation.label",
      "info":"t:global.heading_animation.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:global.heading.heading_size.label",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:global.heading.heading_tag.label",
      "info": "t:global.heading.heading_tag.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
            "type": "select",
            "id": "heading_alignment",
            "label": "t:global.heading_alignment.label",
            "default": "text-left",
            "options": [
                {
                    "label": "t:global.heading_alignment.options.left.label",
                    "value": "text-left"
                },
                {
                    "label": "t:global.heading_alignment.options.center.label",
                    "value": "text-center"
                },
                {
                    "label": "t:global.heading_alignment.options.right.label",
                    "value": "text-right"
                }
            ]
        },
    {
      "type": "header",
      "content": "t:global.general_labels.colors"
    },
    {
      "type": "color",
      "id": "card_color",
      "label": "t:sections.logo-list.settings.card_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 30,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 30,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "t:sections.logo-list.blocks.logo.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.general_labels.image"
        },
        {
          "type": "text",
          "id": "image_url",
          "label": "t:sections.logo-list.blocks.logo.settings.image_url.label"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.logo-list.blocks.logo.settings.image_link.label",
          "info":"t:sections.logo-list.blocks.logo.settings.image_link.info"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.logo-list.blocks.logo.settings.image_width.label",
          "default": 100,
          "min": 50,
          "max": 100,
          "unit": "%",
          "step": 5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo-list.presets.name",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type":"logo"
        },
        {
          "type":"logo"
        },
        {
          "type":"logo"
        },
        {
          "type":"logo"
        },
        {
          "type":"logo"
        },
        {
          "type":"logo"
        }
      ]
    }
  ]
}
{% endschema %}