{{ 'main-blog.css' | asset_url | stylesheet_tag }}
{%-liquid
  assign Colorscheme = section.settings.color_scheme
-%}
<div class="scheme-{{ Colorscheme }} section-padding {% if section.settings.enable_gradient %} gradiant{% endif %}">
  <div class="container-xs">
    <div class="blog-article-content-box">
      {%- if article.image and section.settings.show_image -%}
        <div class="blog-article-img">
          <div class="media" style="--imageRatio:{{ 1 | divided_by : article.image.aspect_ratio | times: 100 | minus : 1 }}%">
            {% render 'lazy-image', image: article.image %}
          </div>
        </div>
      {%- endif -%}
      <div class="blog-article-content">
        <div class="blog-excerpt-meta">
          {% if section.settings.show_author %}
          <span class="publisher-name" itemprop="author" itemscope itemtype="http://schema.org/Person class="blog-excerpt-meta-item publisher-name">{{ article.author }}</span>
        {% endif %}
        {% if section.settings.show_date %}
          <span class="blog-excerpt-meta-item date">{{ article.published_at | date: '%B %d, %Y' }}</span>
        {% endif %}
        </div>
        <h1 class="h1 blog-article-heading">{{ article.title | escape }}</h1>
        <div class="blog-article-desc rte">
          {{ article.content | replace: '<table', '<div class="table-responsive"><table '
            | replace: '</table>', '</table></div>'}}
        </div>
      {%- if section.settings.show_tags and article.tags.size > 0 -%}
        <ul class="list-unstyled post-tags">
          {%- for tag in article.tags -%}
            <li>
              <a class="unstyled-link" href="{{ blog.url }}/tagged/{{tag}}">{{ tag }}</a>
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {% if section.settings.show_social %}
        <div class="blog-article-social-icon">
          <p>{{ 'general.share.share' | t }}</p>
          {%- render 'social-sharing-icons',
            block: section,
            share_title: article.title,
            share_permalink: article.url, 
            share_image: article.image
          -%}
        </div>
      {% endif %}
      {%- if blog.comments_enabled? and section.settings.show_comments -%}
        <div class="blog-article-comment-box">
          {%- if article.comments_count > 0 -%}
            <div class="blog-article-comments">
              {%- assign anchorId = '#Comments-' | append: article.id -%}
              <h6 id="Comments-{{ article.id }}" class="blog-article-comments-heading">
                {{ 'blogs.article.comments' | t: count: article.comments_count }}
              </h6>
              {%- paginate article.comments by 5 -%}
                <div class="blog-article-comments-list">
                  {%- for comment in article.comments -%}
                    <div class="blog-article-comment">
                      <div class="comment-content">
                        <div class="comment-by">
                          <span class="comment-author heading-font">{{ comment.author }}</span>
                        </div>
                        <div class="comment-content-text">
                          <p>{{ comment.content }}</p>
                          <span class="comment-date">{{ comment.created_at | time_tag: format: 'date' }}</span>
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                  <div class="article-comment-pagination">
                  {%- if paginate.pages > 1 -%}
                    {% render 'pagination', paginate: paginate, anchor: anchorId %}
                  {%- endif -%}
                </div>
                </div>
              {% endpaginate %}
            </div>
          {%- endif -%}
          {%- form 'new_comment', article, class:'comment-form' -%}
            {% liquid
               assign post_message = 'blogs.article.success'
               if blog.moderated? and comment.status == 'unapproved'
               assign post_message = 'blogs.article.success_moderated'
               endif
              %}
            <h6 class="blog-article-comments-heading">{{ 'blogs.article.comment_form_title' | t }}</h6>
            {%- if form.posted_successfully? -%}
            <p class="form-message success">{{ post_message | t }}</p>
          {%- endif -%}
            <div class="blog-article-comment-fields">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 input-fields-column">
                  <div class="form-group">
                    <label for="CommentForm-author" class="hidden">{{ 'blogs.article.name' | t }}</label>
                    <input
                      type="text"
                      name="comment[author]"

                      id="CommentForm-author"
                     class="form-control{% if settings.enable_input_shadow %} small-shadow-enabled{% endif %}"
                      autocomplete="name"
                      value="{{ form.author }}"
                      {% if form.errors contains 'author' %}
                        aria-invalid="true"
                        aria-describedby="CommentForm-author-error"
                      {% endif %}
                      placeholder="{{ 'blogs.article.name' | t }}"
                      requiredclear
                    >
                      {%- if form.errors contains 'author' -%}
                        <span class="form-message error">
                          {{- 'blogs.article.name' | t }}
                          {{ form.errors.messages.author }}.</span
                        >
                      {%- endif -%}
                  </div>
                  <div class="form-group">
                    <label for="CommentForm-email" class="hidden">{{ 'blogs.article.email' | t }}</label>
                    <input
                      type="email"
                      name="comment[email]"
                      id="CommentForm-email"
                      autocomplete="email"
                      class="form-control{% if settings.enable_input_shadow %} small-shadow-enabled{% endif %}"
                      value="{{ form.email }}"
                        autocapitalize="off"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                          aria-invalid="true"
                          aria-describedby="CommentForm-email-error"
                        {% endif %}
                        placeholder="{{ 'blogs.article.email' | t }}"
                        pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)*[a-zA-Z]{2,}))$"
                        required
                    >
                      {%- if form.errors contains 'email' -%}
                        <span class="form-message error">
                          {{- 'blogs.article.email' | t }}
                          {{ form.errors.messages.email }}.</span
                        >
                      {%- endif -%}
                  </div>
                  <div class="form-group">
                    <label for="CommentForm-body" class="hidden">{{ 'blogs.article.message' | t }}</label>
                    <textarea
                      rows="6"
                      name="comment[body]"
                      id="CommentForm-body"
                      class="text-area form-control{% if settings.enable_input_shadow %} small-shadow-enabled{% endif %}"
                      aria-required="true"
                        {% if form.errors contains 'body' %}
                          aria-invalid="true"
                          aria-describedby="CommentForm-body-error"
                        {% endif %}
                        placeholder="{{ 'blogs.article.message' | t }}"
                        required
                    >{{ form.body }}</textarea>
                    {%- if form.errors contains 'body' -%}
                      <span class="error">
                        {{- 'blogs.article.message' | t }}
                        {{ form.errors.messages.body }}.</span
                      >
                    {%- endif -%}
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                  <div class="form-group">
                    {%- if blog.moderated? -%}
                      <p class="post-article__comment-warning">{{ 'blogs.article.moderated' | t }}</p>
                    {%- endif -%}
                  </div>
                  <button type="submit" class="button btn-block medium-btn post-btn{% if settings.enable_button_shadow %} button-shadow{% endif %}"> {{ 'blogs.article.post' | t }}</button>
                  
                </div>
              </div>
            </div>
          {% endform %}
        </div>
      {%- endif -%}
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}{
       --padding-top: {{ section.settings.top_space_desktop}}px;
       --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
     }
     @media only screen and (max-width:767px) {
       #shopify-section-{{ section.id }}{
         --padding-top: {{ section.settings.top_space_mobile }}px !important;
         --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
       }
     }
</style>


{% schema %}
{
  "name": "t:sections.article.name",
  "tag": "section",
  "class": "section main-article",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:global.general_labels.general"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.article.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.article.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.article.settings.show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.article.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "default": true,
      "label": "t:sections.article.settings.show_comments.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.article.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.article.settings.share_icons.label"
    },
        {
          "type": "checkbox",
          "id": "facebook",
          "label": "t:sections.article.settings.facebook.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "twitter",
          "label": "t:sections.article.settings.twitter.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "linkedin",
          "label": "t:sections.article.settings.linkedin.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pininterest",
          "label": "t:sections.article.settings.pininterest.label",
          "default": true
    },
    {
      "type": "header",
      "content": "t:global.general_labels.colors"
    }, 
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    }, 
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
