{{ 'account.css' | asset_url | stylesheet_tag }}
<div class="scheme-{{ section.settings.color_scheme }}{% if section.settings.enable_gradient %} gradiant{% endif %} section-padding">
  {% if section.settings.image != blank %}
    <div class="account-background-img">
      {% render 'image', image: section.settings.image %}
    </div>
  {% endif %}
  <div class="{{ settings.layout_style }}">
    <div class="customer " id="changePassword">
        <div class="account-form-heading">
            <h2 class="account-form-heading-title h2">
                {{ 'customer.reset_password.title' | t }}
            </h2>
            <p class="account-form-heading-desc">{{ 'customer.reset_password.subtext' | t }} </p>
        </div>
      {%- form 'reset_customer_password', class: 'account-form' -%}
          {%- if form.errors -%}
            <div class="error-message error" id="password-error-{{ section.id }}">
              <p  tabindex="-1"> {{ 'templates.contact.form.error_heading' | t }}</p>
              <ul class="list-unstyled">
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      {{ form.errors.messages[field] }}
                    {%- else -%}
                      <a href="#{{ field }}">
                        {{ form.errors.translated_fields[field] | capitalize }}
                        {{ form.errors.messages[field] }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
      
        <div class="form-group">
          <label for="password">{{ 'customer.reset_password.password' | t }}</label>
          <input
            type="password"
            class="form-control {% if settings.enable_input_shadow %} small-shadow-enabled{% endif %}"
            name="customer[password]"
            id="password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error-{{ section.id }}"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >
        </div>
        <div class="form-group">
          <label for="password_confirmation">
            {{- 'customer.reset_password.password_confirm' | t -}}
          </label>
          <input
            type="password"
            class="form-control {% if settings.enable_input_shadow %} small-shadow-enabled{% endif %}"
            name="customer[password_confirmation]"
            id="password_confirmation"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >
        </div>
        <button class="button large-btn btn-block{% if settings.enable_button_shadow %} button-shadow{% endif %}">
          <span>{{ 'customer.reset_password.submit' | t }}</span>
        </button>
      {%- endform -%}
    </div>
  </div>
</div>
<style>
    #shopify-section-{{ section.id }}{
         --padding-top: {{ section.settings.top_space_desktop}}px;
         --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
       }
       @media only screen and (max-width:767px) {
         #shopify-section-{{ section.id }}{
           --padding-top: {{ section.settings.top_space_mobile }}px !important;
           --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
         }
       }
  </style>
{% schema %}
{
  "name": "t:sections.reset_password.name",
  "class": "account main-reset-password",
  "tag": "section",
  "settings": [
      {
        "type": "header",
        "content": "t:global.general_labels.colors"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:global.color_scheme.label"
      },
      {
        "type": "checkbox",
        "id": "enable_gradient",
        "label": "t:global.general_labels.gradient",
        "default": false
      },
      {
        "type": "header",
        "content": "t:global.section_padding.label"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:global.section_padding.options.top_space_desktop.label",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:global.section_padding.options.bottom_space_desktop.label",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:global.section_padding.options.top_space_mobile.label",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:global.section_padding.options.bottom_space_mobile.label",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      }
  ]
}
{% endschema %}
