<link rel="preload" as="style" href="{{ 'collection.css' | asset_url }}">
{{ 'collection.css' | asset_url | stylesheet_tag }}
{{ 'search.css' | asset_url | stylesheet_tag }}
{{ 'blog-posts.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign Colorscheme = section.settings.color_scheme
  assign results = search
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign sort_value = sort_by | capitalize
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
  if search.url
    assign clearAll = search.url
  else
    assign terms = search.terms | escape
    assign clearAll = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
  assign sidebarEnabled = false
  if section.settings.enable_filtering and results.filters.size > 0
    assign sidebarEnabled = true
  endif
  if section.settings.enable_sorting
    assign sidebarEnabled = true
  endif
-%}
{%- capture activeFilters -%}
{%- for filter in search.filters -%}
{%- for value in filter.active_values -%}
<li class="applied__filter-item">
<a class="unstyled-link applied__filter-link sr-applied-filter-remove" href="{{ value.url_to_remove }}">
  <span>
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.38324 0C2.41854 0 0 2.41817 0 5.38311C0 8.34809 2.41822 10.7662 5.38324 10.7662C6.61547 10.7662 7.75187 10.3494 8.66087 9.64847L10.8089 11.7965C11.0803 12.0678 11.5254 12.0678 11.7965 11.7965C12.0678 11.5251 12.0678 11.0856 11.7965 10.8143L9.64283 8.66627C10.3453 7.75691 10.7661 6.61685 10.7661 5.38311C10.7661 2.41848 8.34827 0 5.38324 0ZM5.38324 1.38912C7.59707 1.38912 9.37703 3.16902 9.37703 5.3828C9.37703 7.59659 7.59707 9.37649 5.38324 9.37649C3.16941 9.37649 1.38947 7.59659 1.38947 5.3828C1.38947 3.16902 3.16941 1.38912 5.38324 1.38912Z" fill="#5F5B5B"></path>
      </svg>
  </span>
  {{- value.label | escape -}}
</a>
</li>
{%- endfor -%}
{% if filter.type == 'price_range' %}
{%- if filter.min_value.value != null or filter.max_value.value != null -%}
<li class="applied__filter-item">
<a class="unstyled-link applied__filter-link sr-applied-filter-remove" href="{{ filter.url_to_remove }}">
  <span >
      <svg viewBox="0 0 23.1 23.08" fill="currentColor">
        <g>
            <path d="m13.3,11.55L22.75,2.09c.46-.48.46-1.23,0-1.72-.23-.23-.54-.36-.87-.36h-.01c-.33,0-.65.13-.88.35l-9.44,9.44L2.1.35c-.48-.47-1.23-.46-1.72,0C.15.58.01.9,0,1.23c0,.33.12.65.35.89l9.43,9.43L.36,20.99c-.23.24-.36.55-.36.87s.12.64.36.87c.44.44,1.31.44,1.75,0l9.44-9.44,9.44,9.44c.22.22.54.35.87.35s.65-.13.87-.35c.23-.23.36-.55.36-.88s-.13-.64-.36-.87l-9.43-9.43Z"></path>
        </g>
      </svg>
  </span>
  {%- if filter.min_value.value -%}
  {{ filter.min_value.value | money }}
  {%- else -%}
  {{ 0 | money }}
  {%- endif -%}
  -
  {%- if filter.max_value.value -%}
  {{ filter.max_value.value | money }}
  {%- else -%}
  {{ filter.range_max | money }}
  {%- endif -%}
</a>
</li>
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{% paginate search.results by 24 %}
  <div class="scheme-{{ Colorscheme}} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
    <div class="searchbar-container">
      <div class="searchbar-main-box">
        <div class="container-xs">
          <div class="search-title text-center">
            <h2>{{ 'templates.search.title' | t }}</h2>
          </div>
          <div class="search-input-box">
            <form action="{{ routes.search_url }}" method="get" role="search" class="search" data-mg-search>
              {% liquid
                assign searchType = 'product,collection'
                if settings.show_article or settings.show_pages
                  if settings.show_article
                    assign searchType = searchType | append: ',article'
                  endif
                  if settings.show_pages
                    assign searchType = searchType | append: ',page'
                  endif
                endif
              %}
              <input type="hidden" name="type" value="{{ searchType }}">
              <button type="submit" class="search__button body-font seachbar-button" aria-label="Search our site" tabindex="0">
                <svg
                  class="icon icon-search"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M7.17765 0C3.22472 0 0 3.22423 0 7.17749C0 11.1308 3.2243 14.3549 7.17765 14.3549C8.82063 14.3549 10.3358 13.7992 11.5478 12.8646L14.4119 15.7286C14.7737 16.0905 15.3672 16.0905 15.7286 15.7286C16.0905 15.3668 16.0905 14.7808 15.7286 14.419L12.8571 11.555C13.7937 10.3425 14.3549 8.82247 14.3549 7.17749C14.3549 3.22464 11.131 0 7.17765 0ZM7.17765 1.85216C10.1294 1.85216 12.5027 4.22535 12.5027 7.17707C12.5027 10.1288 10.1294 12.502 7.17765 12.502C4.22587 12.502 1.85262 10.1288 1.85262 7.17707C1.85262 4.22535 4.22587 1.85216 7.17765 1.85216Z" fill="#B9B9B9"/>
                </svg>
              </button>
              <label for="header-search-{{ section.id }}" class="hidden">{{ 'general.search.search' | t }}</label>
              <input
                id="header-search-{{ section.id }}"
                class="search-input"
                type="text"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="{{"general.search.search_placeholder" | t }}"
                autofocus
                tabindex="0"
                autocomplete="off"
                data-search-input
              >
              <button type="reset" class="search__button body-font search-clear" data-search-reset>{{"general.search.clear" | t }}</button>
            </form>
          </div>
          {% if search.performed %}
            <div class="searchbar-bottom-text">
              <p class="searchbar-result-heading">
                {{ 'templates.search.results_with_count_html' | t: terms: search.terms, count: search.results_count }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
      {% if search.performed %}
        {% assign searchProducts = search.results | where: 'object_type', 'product' %}
        <div class="collection-wrapper{% if sidebarEnabled == false or searchProducts.size == 0 %} sidebar_filters_disabled{% endif %}">
          {%- if searchProducts.size > 0 and sidebarEnabled -%}
            {% render 'collection-filters',
              results: results,
              sorting_enable: true,
              sort_by: sort_by,
              collection: search,
              section: section
            %}
          {%- endif -%}
          <div class="collection-contents">
            <div id="CollectionProductsParent" class="collection_products {{sort_by}}" data-id="{{ section.id }}">
              <div class="product-card-wrapper">
                <div class="container">
                  {%- if activeFilters != blank -%}
                    <ul class="applied__filters list-unstyled" data-products-applied-filter>
                      {{ activeFilters }}
                      <li class="applied__filter-item">
                        <a
                          class="unstyled-link applied__filter-link clear_filter sr-applied-filter-remove"
                          href="{{ results_url }}"
                          sr-applied-filter-cross-all
                        >
                          <span>
                            <svg
                              width="10"
                              height="10"
                              viewBox="0 0 10 10"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M8.99998 0L9.99998 0.999969L0.999998 9.99969L0 8.99972L8.99998 0Z" fill="currentColor"></path>
                              <path d="M2.39302e-05 1.00028L1.00002 0.000307701L10 9.00003L9 10L2.39302e-05 1.00028Z" fill="currentColor"></path>
                            </svg>
                          </span>
                          Clear
                        </a>
                      </li>
                    </ul>
                  {%- endif -%}
                  {% if search.results_count > 0 %}
                    <div class="row" data-collection-products>
                      {%- for item in search.results -%}
                        {% liquid
                          capture placeholderIndex
                            cycle cycleGroup: '1', '2', '3', '4'
                          endcapture
                        %}
                        <div class="col-6 col-md-4 col-lg-3">
                          {% if item.object_type == 'product' %}
                            <div class="product-card-item">
                              {% render 'product-card-grid',
                                cardProduct: item,
                                comparePrice: true,
                                unitPrice: true,
                                showCount: true,
                                cycleIndex: placeholderIndex,
                                compareTrue: true,
                                quickViewtrue: true
                              %}
                            </div>
                          {% elsif item.object_type == 'page' %}
                            <div class="page-item-title">
                              <a
                                class="unstyled-link pages-result__link text-medium hyperlink"
                                href="{{ item.url }}"
                                title="{{ item.title | truncate: 50 | escape }}"
                              >
                                {{- item.title | truncate: 50 | escape -}}
                              </a>
                              <span class="item-title">{{ item.object_type | capitalize }}</span>
                            </div>
                          {% elsif item.object_type == 'article' %}
                          {%- liquid 
                            if item.object_type.image != blank
                           assign postImageRatio = 1 | divided_by: item.object_type.image.aspect_ratio | times: 100 | append: '%'
                            else
                           assign postImageRatio = 100 | append: '%'
                          endif 
                             assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1 
                             assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index 
                          %}
                            {% render 'post-grid',
                              article: item,
                              placeholder_image: placeholder_image,
                              article_image: true,
                              search_show_author: true,
                              search_show_date: true,
                              postImageRatio: postImageRatio,
                              btn_read_more: true
                            %}
                          {% endif %}
                        </div>
                      {%- endfor -%}
                    </div>
                    <div class="main-search-pagination" data-serach-pagination>
                      {%- liquid
                        if paginate.pages > 1
                          render 'pagination', paginate: paginate
                        endif
                      -%}
                    </div>
                  {% else %}
                    <div class="empty-card-box">
                      <span class="empty-card-icon">
                        <svg width="39" height="36" viewBox="0 0 39 36" fill="none">
                          <g clip-path="url(#clip0_1_7509)">
                          <path d="M38.9996 9.60571V9.59952C38.9984 9.5789 38.9967 9.5587 38.995 9.5389L38.9929 9.51127C38.9879 9.42344 38.9692 9.33437 38.9379 9.24324L38.9304 9.22056C38.8832 9.0717 38.8169 8.9583 38.7331 8.88077L38.6847 8.83294C38.2685 8.39666 37.8535 7.96038 37.4385 7.5241L37.4155 7.50019C37.0105 7.07463 36.6056 6.64907 36.1993 6.22351C35.7284 5.72909 35.2584 5.23508 34.7888 4.74149L34.7462 4.69695C33.8341 3.73821 32.891 2.74731 31.9622 1.77496C31.7491 1.54981 31.5389 1.32919 31.3282 1.10899C31.1155 0.886317 30.9024 0.663229 30.6905 0.439317C30.4157 0.149014 30.1521 0.0162339 29.8359 0.00798671H9.78599C9.69841 0.00798671 9.60623 0.0059249 9.5249 0.00427546C9.44691 0.00262601 9.36683 0.000976562 9.28841 0.000976562C9.11157 0.000976562 8.99187 0.0104609 8.93306 0.0294295C8.57646 0.144478 8.33747 0.400143 7.97586 0.787763C7.91246 0.855802 7.84948 0.92343 7.78484 0.991057C6.55486 2.2801 5.30571 3.59388 4.09784 4.86396L3.84884 5.12581C3.28829 5.71507 2.72773 6.30351 2.16717 6.89195L2.10211 6.95999C1.56657 7.52204 1.03104 8.08409 0.49551 8.64738L0.318668 8.83418C0.249849 8.90675 0.191458 8.98551 0.145162 9.06881L0.13682 9.08324C0.0504846 9.23169 0.00585694 9.39375 0.00585694 9.55375V31.8831C0.00585694 32.2266 0.00460569 32.5705 0.00293737 32.9149C1.78001e-05 33.5849 -0.00248469 34.2781 0.00543985 34.9548V35.0088C0.00543985 35.5272 0.482581 35.9989 1.00643 35.9989H36.4917C36.6527 35.9989 36.8137 35.9993 36.9747 35.9997C37.2846 36.0006 37.6053 36.0014 37.9215 35.9989H37.9932C38.517 35.9989 38.9942 35.5272 38.9942 35.0092V12.679C38.9942 12.3417 38.9954 12.004 38.9967 11.6663C38.9992 11.0395 39.0017 10.3921 38.995 9.75539V9.71127L38.9979 9.66715C38.9996 9.64364 39 9.62385 38.9992 9.60571H38.9996ZM5.85792 5.90558C6.83389 4.88087 7.84323 3.82151 8.83296 2.77865L9.58704 1.9865H27.3122C27.592 1.9865 27.8719 1.98774 28.1513 1.98897C28.4187 1.99021 28.686 1.99145 28.9534 1.99145H29.4222L31.9188 4.61695C32.383 5.10436 32.8472 5.59219 33.3115 6.07919L35.6776 8.56367L24.2462 8.56284L24.2103 8.55996C24.1916 8.55831 24.1745 8.55789 24.159 8.55831L24.1236 8.55996H24.0814L14.7659 8.55954C14.7505 8.55954 14.7322 8.56037 14.7105 8.56161L14.6433 8.56367H3.32624L5.85792 5.90558ZM23.0996 10.5471V19.2257L21.2019 18.2439C20.9734 18.1255 20.7448 18.0072 20.5162 17.8892C20.4449 17.8521 20.3744 17.815 20.3035 17.7779L20.2989 17.7754C20.1951 17.7206 20.0967 17.6686 19.9978 17.6187C19.9111 17.5758 19.6395 17.4418 19.4815 17.4492C19.2738 17.4583 19.1132 17.4987 18.9146 17.5923L18.8475 17.6286C18.7933 17.6579 18.7374 17.6863 18.6819 17.7144L18.6727 17.7189C18.6377 17.7367 18.6027 17.7544 18.5681 17.7729L18.5551 17.78C18.1539 17.9886 17.7543 18.1956 17.3548 18.4022L15.7674 19.2236V10.5475H23.0996V10.5471ZM36.9926 31.8827C36.9926 32.2386 36.9914 32.5949 36.9897 32.9511L36.9851 34.0188H2.00743V12.679C2.00743 12.3248 2.00868 11.9702 2.01035 11.6156L2.01452 10.5475H3.09434L13.7645 10.5471V20.8562C13.7645 21.2013 13.9601 21.5374 14.2625 21.7122C14.675 21.9518 15.1017 21.7992 15.3194 21.6871C16.0068 21.3304 16.6974 20.9729 17.3881 20.6154C17.9024 20.349 18.4162 20.083 18.9301 19.8166L19.4335 19.5556L20.8395 20.2838C21.5481 20.6508 22.2567 21.0178 22.9645 21.3848C23.0625 21.4343 23.1622 21.4863 23.2615 21.5378L23.2686 21.5415C23.3595 21.5889 23.4504 21.6359 23.5422 21.6825L23.5522 21.6875C23.7695 21.8001 24.1932 21.9526 24.6061 21.7131C24.9094 21.5374 25.1054 21.2009 25.1054 20.8562V10.5471H36.9922V31.8827H36.9926Z" fill="currentColor"></path>
                          <path d="M24.1407 6.41602H24.1386L24.1311 6.66343H24.1319L24.1407 6.41602Z" fill="currentColor"></path>
                          <path d="M24.1319 6.66357H24.1311L24.1232 6.91099L24.1319 6.66357Z" fill="currentColor"></path>
                          </g>
                        </svg>
                      </span>
                      <div class="empty-card-content">
                        <h2 class="empty-card-heading">
                          {{'templates.search.no_results_simple' | t }} “{{- search.terms -}}”.
                        </h2>
                        <p class="empty-card-desc">{{"templates.search.no_results_sub" | t }}</p>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endpaginate %}

<script type="text/javascript" src="{{ 'collection-filter.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "t:sections.search.name",
  "tag": "section",
  "class": "main-search",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.search.setting.filter_and_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.search.setting.enable_filtering.label"
    },
    {
      "type": "checkbox",
      "id": "open_filtering",
      "default": true,
      "label": "t:sections.collection.settings.open_filtering.label"
    },
    {
      "type": "checkbox",
      "id": "open_all_filtering",
      "default": false,
      "label": "t:sections.collection.settings.open_all_filtering.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.search.setting.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:global.general_labels.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ]
}
{% endschema %}
