{{ 'offer-banner.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign Colorscheme = section.settings.color_scheme
    %}
    <div class="scheme-{{ Colorscheme }} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
       {% unless section.settings.full_width %}
       <div class="{{ settings.layout_style }}">
          {% endunless %}
          <div
             class="offer-banner-wrapper {% if section.settings.full_width == true %} full_width_banner{%endif %}"
             {% if section.blocks.size > 1 %}
             data-slideshow='{
             "cellAlign":"left",
             "contain": true,
             "pageDots": false,
             "draggable": true,
             "prevNextButtons": false,
             "wrapAround":true,
             "groupCells": true,
             "cellSelector":".offer-items"
             }'
             {% endif %}
             >
             {% for block in section.blocks %}
             {% if block.settings.image_id != blank
             or block.settings.heading != blank
             or block.settings.description != blank
             %}
             <div
             class="offer-banner-item promotional_banner offer-items items_{{ block.id }} {% if section.settings.show_border %}show_border{% endif %}"
             {{ block.shopify_attributes }}
             >
             <div class="offer-banner-item-inner offer-items-inner banner-id-{{ block.id }} ">
              <div class="offer-banner-item-block">
                <div class="offer-sale-text {{ block.settings.heading_alignment }}">
                   {% if block.settings.heading != blank %}
                      {%- capture highlightPrefix -%}
                      <span class="line-marker {% if block.settings.highlight_style == 'background' %}highlight-background {% if block.settings.highlight_bg__color == 'gradient' %}highlight-background-gradient{% else %}highlight-background-solid{% endif %}{% endif %}">
                         {%- endcapture -%}
                         {%- capture highlightSuffix -%}
                         {% if block.settings.highlight_style != 'background' %}
                          {% render 'marker', marker: block.settings.highlight_style %}
                       {% endif %}
                      </span>
                      {%- endcapture -%}
                      <{{ block.settings.seo_heading }} class="offer-banner-heading {{ block.settings.heading_size }}">
                      {{ block.settings.heading | replace:"[", highlightPrefix | replace:"]",highlightSuffix}}
                      </{{ block.settings.seo_heading }}>
                    <div class="offer_description rte">
                      {{ block.settings.description | replace: '<p></p>', '<br/>'
                      | replace: '<h1></h1>', '<br/>'
                      | replace: '<h2></h2>', '<br/>'
                      | replace: '<h3></h3>', '<br/>'
                      | replace: '<h4></h4>', '<br/>'
                      | replace: '<h5></h5>', '<br/>'
                      | replace: '<h6></h6>', '<br/>' }}</div>
                   {% endif %}
                </div>
                {% if block.settings.image_id != blank %}
                <div class="offer-sale-image">
                   {% render 'lazy-image',image:block.settings.image_id, imageSize: 360 %}
                </div>
                {% else %}
                <div class="offer-sale-image">
                  {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
               </div>
                {% endif %}
                <div class="offer-sale-code offer-sale-code-{{ block.id }}">
                   {% if block.settings.discount_code != blank %}
                   <div class="code-text">
                      <p>
                         {{ block.settings.discount_text }}
                         <span class="heading-font">{{ block.settings.discount_code }}</span>
                      </p>
                   </div>
                   {% endif %}
                   {% if block.settings.btn_link != blank and block.settings.btn_text != blank %}
                   <div class="offer-shop-btn">
                      <a
                         href="{{ block.settings.btn_link }}"
                         class="{% if block.settings.button_as_link %}hyperlink {% else %} button {{ block.settings.button_size }}-btn{% if settings.enable_button_shadow %} button-shadow{% endif %}{% endif %}"
                         tabindex="-1"
                         aria-label="{{ block.settings.btn_text }} "
                         title="{{ block.settings.btn_text }}"
                         >
                      {{- block.settings.btn_text -}}
                      </a>
                   </div>
                   {% endif %}
                </div>
                </div>
             </div>
          </div>
          {% endif %}
          {% endfor %}
          {% if section.blocks.size > 1 %}
          {% render 'carousal-arrows', class: 'custom-navigation-button-icon' %}
          {% endif %}
       </div>
    </div>
    <style>
      span.line-marker:empty {
        display: none;
    }
       {% for block in section.blocks %}
       .items_{{ block.id }}{
        {% unless block.settings.discount_text_color == 'rgba(0,0,0,0)' or block.settings.discount_text_color == blank  %}
       --offer-code-text:{{ block.settings.discount_text_color }};
       {% else %}
       --offer-code-text:rgb(var(--textColor));
        {% endunless %}
        {% unless block.settings.discount_bg_color == 'rgba(0,0,0,0)' or block.settings.discount_bg_color == blank %}
       --offer-banner-bg: {{ block.settings.discount_bg_color}};
       {% else %}
       --offer-banner-bg: rgba(var(--alternateBackground),1);
      {% endunless %}
       }
       .banner-id-{{ block.id }}{
        {% unless block.settings.border_color == 'rgba(0,0,0,0)' or block.settings.border_color == blank  %}
       --border-dashed: {{ block.settings.border_color }};
       {% else %}
       --border-dashed: rgba(var(--background),1);
       {% endunless %}
       {% if block.settings.bg__color == "gradient" %}
        {% if block.settings.gradient_color != blank %}
       --promotionalbanner:{{ block.settings.gradient_color }};
       {% else %}
        --promotionalbanner: var(--gradientBackground);
        {% endif %}
       {% else %}
       {% unless block.settings.solid_color == 'rgba(0,0,0,0)' or block.settings.solid_color == blank  %}
        --promotionalbanner:{{ block.settings.solid_color }};
        {% else %}
        --promotionalbanner: rgba(var(--background),1);
        {% endunless %}
       {% endif %}
       }

       html[color-mode="dark"] .items_{{ block.id }}{
        --offer-code-text:#d1d1d1;
        --offer-banner-bg:  #000000; 
      }
      html[color-mode="dark"] .banner-id-{{ block.id }} {
        --border-dashed:#000000;
        --promotionalbanner:#161616;
        --gradientBackground:#161616;
      }
       {% endfor %}
       #shopify-section-{{ section.id }}{
       --padding-top: {{ section.settings.top_space_desktop}}px;
       --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
       } 
       @media only screen and (max-width:767px) {
       #shopify-section-{{ section.id }}{
       --padding-top: {{ section.settings.top_space_mobile }}px !important;
       --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
       }
       }
       {% if section.settings.section_visibility == 'large' %}
        @media (max-width: 767px) {
          #shopify-section-{{ section.id }}{
            display: none !important;
          }
        }
      {% elsif section.settings.section_visibility == 'small' %}
        @media (min-width: 768px) {
          #shopify-section-{{ section.id }}{
            display: none !important;
          }
        }
    {% endif %}
    </style>

{% schema %}
{
  "name": "t:sections.promotional-banner.name",
  "tag": "section",
  "class": "offer-banner-section",
  "disabled_on":{
    "groups":["header","footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:global.general_labels.general"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:global.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:global.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:global.section_visibility.options.small.label",
          "value": "small"
        },
        {
          "label": "t:global.section_visibility.options.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type":"checkbox",
      "id":"show_border",
      "label":"t:sections.promotional-banner.settings.show_border.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.promotional-banner.settings.full_width.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:global.general_labels.color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type":"custom_liquid",
      "name":"t:sections.promotional-banner.settings.promo.label",
      "limit": 5,
      "settings": [
        {
          "type": "header",
          "content": "t:global.general_labels.general"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:global.heading.label",
          "info": "t:global.heading.info",
          "default": "Promotional banner heading"
        },
        {
      "type": "select",
      "id": "highlight_style",
      "label": "t:global.highlight_style.label",
      "default": "underline",
      "options": [
        {
          "value": "underline",
          "label": "t:global.highlight_style.options.underline.label"
        },
        {
          "value": "shape_2",
          "label": "t:global.highlight_style.options.shape_2.label"
        },
        {
          "value": "shape_3",
          "label": "t:global.highlight_style.options.shape_3.label"
        },
        {
          "value": "shape_4",
          "label": "t:global.highlight_style.options.shape_4.label"
        },
        {
          "value": "shape_5",
          "label": "t:global.highlight_style.options.shape_5.label"
        },
        {
          "value": "shape_6",
          "label": "t:global.highlight_style.options.shape_6.label"
        },
        {
          "value": "background",
          "label": "t:global.highlight_style.options.background.label"
        },
          {
            "value": "no_shape",
            "label": "t:global.highlight_style.options.no_shape.label"
          }
      ]
    },
    {
      "type": "select",
      "id": "highlight_bg__color",
      "label": "t:global.bg__color.label",
      "default": "gradient",
      "options": [
        {
          "value": "gradient",
          "label": "t:global.bg__color.options.gradient.label"
        },
        {
          "value": "solid",
          "label": "t:global.bg__color.options.solid.label"
        }
      ]
    },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:global.heading.heading_size.label",
          "default": "h4",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "select",
          "id": "seo_heading",
          "default": "h2",
          "label": "t:global.heading.heading_tag.label",
          "info": "t:global.heading.heading_tag.info",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:global.general_labels.description",
          "default":"<p>Add content here</p>"
        },
        {
          "type": "select",
          "id": "heading_alignment",
          "label": "t:global.content_alignment.label",
          "default": "text-center",
          "options": [
            {
              "label": "t:global.content_alignment.options.left.label",
              "value": "text-left"
            },
            {
              "label": "t:global.content_alignment.options.center.label",
              "value": "text-center"
            },
            {
              "label": "t:global.content_alignment.options.right.label",
              "value": "text-right"
            }
          ]
        },
        {
          "type":"image_picker",
          "id":"image_id",
          "label":"t:global.general_labels.image"
        },
        {
          "type": "header",
          "content":"t:sections.promotional-banner.settings.discount.label"
        },
        {
          "type":"text",
          "id":"discount_text",
          "label":"t:global.general_labels.text",
          "default":"Usecode:"
        },
        {
          "type":"text",
          "id":"discount_code",
          "label":"t:sections.promotional-banner.settings.discount_code.label",
          "default":"Star1548"
        },
        {
          "type": "header",
          "content": "t:global.general_labels.button"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "t:global.general_labels.text",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:global.general_labels.link",
          "default": "/collections/all"
        },
        {
          "type": "checkbox",
          "id": "button_as_link",
          "label": "t:global.general_labels.button_as_link",
          "default": false
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:global.general_labels.size",
          "default": "large",
          "options": [
            {
              "value": "small",
              "label": "t:global.general_labels.small"
            },
            {
              "value": "medium",
              "label": "t:global.general_labels.medium"
            },
            {
              "value": "large",
              "label": "t:global.general_labels.large"
            },
            {
              "value": "extra-large",
              "label": "t:global.general_labels.extra-large"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:global.general_labels.colors"
        },
        {
          "type": "select",
          "id": "bg__color",
          "label": "t:global.general_labels.background",
          "default": "gradient",
          "options": [
            {
              "value": "gradient",
              "label": "t:global.general_labels.gradient_bg"
            },
            {
              "value": "solid",
              "label": "t:global.general_labels.solid"
            }
          ]
        },
        {
          "type":"color_background",
          "id":"gradient_color",
          "label": "t:global.general_labels.gradient_bg",
          "default":"linear-gradient(320deg, rgba(56, 78, 197, 1) 16%, rgba(203, 68, 194, 1) 52%, rgba(255, 201, 104, 1) 87%)"
        },
        {
          "type":"color",
          "id":"solid_color",
          "label":"t:global.general_labels.solid"
        },
        {
          "type": "paragraph",
          "content": "t:sections.promotional-banner.settings.other.label"
        },
        {
          "type":"color",
          "id":"border_color",
          "label":"t:global.general_labels.border"
        },
        {
          "type": "paragraph",
          "content": "t:sections.promotional-banner.settings.discount.label"
        },
        {
          "type":"color",
          "id":"discount_text_color",
          "label":"t:global.general_labels.link"
        },
        {
          "type":"color",
          "id":"discount_bg_color",
          "label":"t:sections.promotional-banner.settings.discount_bg_color.label",
          "info":"t:sections.promotional-banner.settings.discount_bg_color.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.promotional-banner.name",
      "blocks":[
        {
          "type":"custom_liquid"
        }
      ]
    }
  ]
}
{% endschema %}
