{{ 'spotlight.css' | asset_url | stylesheet_tag }}
{%-liquid
assign Colorscheme = section.settings.color_scheme
 %}

<div class="scheme-{{ Colorscheme }} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
  <div class="{{ settings.layout_style }}">
    {% if section.settings.heading != blank %}
      {%- capture highlightPrefix -%}
      <span class="line-marker {% if section.settings.highlight_style == 'background' %}highlight-background {% if section.settings.bg__color == 'gradient' %}highlight-background-gradient{% else %}highlight-background-solid{% endif %}{% endif %}">
    {%- endcapture -%}
    {%- capture highlightSuffix -%}
    {% if section.settings.highlight_style != 'background' %}
      {% render 'marker', marker: section.settings.highlight_style %}
   {% endif %}
      </span>
    {%- endcapture -%}
    <div class="section-title {{ section.settings.heading_alignment }}">
        <{{ section.settings.seo_heading }} class="{{ section.settings.heading_size }} section-heading  {% if section.settings.heading_animation %} linear-animation{% endif %}">
          {% if section.settings.heading_animation %}
            {{ section.settings.heading }}
        {% else %}
          {{ section.settings.heading | replace:"[", highlightPrefix | replace:"]",highlightSuffix }}
          {% endif %}
      </{{ section.settings.seo_heading }}>
      </div>
    {% endif %}
    <div class="hotspots-wrapper">
      <div class="slider hotspot-items" data-slideshow='{
        "cellAlign":"left",
        "contain": true,
        "pageDots": false,
        "draggable": true,
        "prevNextButtons": false,
        "wrapAround":false,
        "groupCells": true,
        "cellSelector":".hotspot-item"
                    }'>
                    
      {% for block in section.blocks %}
        <div id="block-hotspot-item{{ block.id }}" class="hotspot-item" data-id="block-id-{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="hotspot-image">
            <div class="media" style="--imageRatio: {% if block.settings.image_id != blank %}{{ 1 | divided_by: block.settings.image_id.aspect_ratio | times: 100 | append: '%' }}{% else %}56%{% endif %}" {% if settings.enable_animation %}data-aos="zoom-out" data-aos-duration="2000"{% endif %}>
              {% if block.settings.image_id != blank %}
                {% render 'lazy-image',image: block.settings.image_id, imageSize: 1500 %}
                  {% else %}
                  {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
            </div>
          </div>
          <div class="hotspot-buttons" data-hotspot-buttons>
            {% assign hotspotOpen = false %}
            {% assign activeHotSpot = 0 %}
            {% for i in (1..3) %}
              {% capture hotspotCount %}hotspot{{ i }}{% endcapture %}
              {% assign hotspot = block.settings[hotspotCount] %}
              {% capture productCount %}product{{ i }}{% endcapture %}
              {% if block.settings[productCount] != blank %}
                {% assign productDisplay = block.settings[productCount] %}
                {% else %}
                {% assign productDisplay = 'product-apparel' %}
                {% endif %}
              {% capture enablehotspot %}enable_{{ i }}{% endcapture %}
              {% assign hotspotEnable = block.settings[enablehotspot] %}
              {% liquid
              assign currentStatus = false
              if hotspotEnable and hotspotOpen == false
                assign currentStatus = true
                assign hotspotOpen = true
                assign activeHotSpot = i 
              endif 
              %}
            {% if hotspotEnable == true %}    
            <a class="hotspot-dot dot{{ i }} {% if section.settings.open_bydefault == true %}{% if currentStatus %}active{% endif %}{% endif %}"
              id="hot-spots{{ i }}-{{ block.id }}"
              tabindex="0"
              data-product="product_{{ i }}_{{ productDisplay }}-{{ block.id }}"
              data-hotspot-dot
            >
              <span class="hotspot-dot-inner"></span>
            </a>
          {% endif %}
          {% endfor %}
          </div>
          <div class="hotspot-product-main">
            {% for i in (1..3) %}
              {% capture productCount %}product{{ i }}{% endcapture %}
                 {% if block.settings[productCount] != blank %}
                  {% assign productDisplay = block.settings[productCount] %}
                  {% else %}
                  {% assign productDisplay = 'product-apparel' %}
                  {% endif %}
                  {% assign placeholder_image_index = i %}
                  {% assign placeholder_image = 'product-apparel-' | append: placeholder_image_index %}
                  {% capture enablehotspot %}enable_{{ i }}{% endcapture %}
              {% assign hotspotEnable = block.settings[enablehotspot] %}
              
            <div class="hotspot-product-main-inner product-inner{{ i }} {% if section.settings.open_bydefault  %}{% if i == activeHotSpot %}active{% endif %}{% endif %}"
              data-id="product_{{ i }}_{{ productDisplay }}-{{ block.id }}">
              <div class="hotspot-product-image">
                <div class="media" style="--imageRatio: {% if block.settings.productDisplay != blank and block.settings[productCount] != blank %}{{ 1 | divided_by: block.settings.productDisplay.aspect_ratio | times: 100 | append: '%' }}{% else %}100%{% endif %}">
                  {% if block.settings[productCount].featured_media != blank %}
                    {% render 'lazy-image',image: productDisplay.featured_media.preview_image, imageSize: 250 %}
                    {% else %}
                    {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                </div>
              </div>
              <div class="hotspot-product-detail">
                {% if block.settings[productCount] != blank %}
                <a href="{{ productDisplay.url }}" class="product-title text-small">{{ productDisplay.title }}</a>
                {% render 'price',current_variant: productDisplay,cardProduct: productDisplay , comparePrice: true, unitPrice:true %}
                {% else %}
                <span class="product-title" >{{'onboarding.product_title' | t }}</span>
                <span class="price-item actual-price">{{ 1990 | money }}</span>
                {% endif %}
                  {% if block.settings[productCount] != blank %}
                    {% liquid
                      assign productUrl = productDisplay.url | within: collection
                      if settings.hide_collection_from_url
                        assign productUrl = productDisplay.url 
                      endif
                     %}
                  <a
                    {% if productDisplay == blank %}
                      role="link"
                      aria-disabled="true"
                    {% else %}
                      href="{{ productUrl }}"
                    {% endif %}
                    class="button link-btn quick-view{% if settings.enable_button_shadow %} button-shadow{% endif %}"
                    tabindex="-1"
                    aria-label="{{ productDisplay.tite }} quick-view link"
                    data-quick-view
                  >
                    <span>{{ 'onboarding.quickview' | t }}</span>
                  </a>
                {% endif %}
              </div>
              <div class="product-cross-icon">
                <svg width="10"
                height="10"
                viewBox="0 0 10 10"
                fill="none">
                <path d="M4 0H6V10H4V0Z" fill="currentColor" />
                <path d="M0 6L-8.74228e-08 4L10 4L10 6L0 6Z" fill="currentColor" />
              </svg></div>
            </div>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
       {% if section.blocks.size > 1 %}
            {% render 'carousal-arrows',class:'custom-navigation-button-icon' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% for i in (1..3) %}
        {% capture verticaldots %}vertical_pos{{ i }}{% endcapture %}
        {% assign verticalPos = block.settings[verticaldots] %}
        {% capture horizontaldots %}horizontal_pos{{ i }}{% endcapture %}
        {% assign horizontalPos = block.settings[horizontaldots] %}
        {% capture colordots %}color_id{{ i }}{% endcapture %}
        {% assign colorDots = block.settings[colordots] %}
        {% capture bordercolordots %}border_color_id{{ i }}{% endcapture %}
        {% assign bordercolorDots = block.settings[bordercolordots] %}
        #hot-spots{{ i }}-{{ block.id }}{
          position: absolute;
          top: {{ verticalPos | times: 1 }}%;
          left: {{ horizontalPos | times: 1 }}%;
          --spotlightDotBg: {{ colorDots }};
          --spotlightDotActive: {{ bordercolorDots }};
        }
        #block-hotspot-item{{ block.id }} .product-inner{{ i }}{
         --spotlightDotActive: {{ bordercolorDots }};
        }
      {% endfor %}
    {% endfor %}
  {% endif %}
  #shopify-section-{{ section.id }}{
    --padding-top: {{ section.settings.top_space_desktop}}px;
    --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
  }

  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
      --padding-top: {{ section.settings.top_space_mobile }}px !important;
      --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media(min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% endif %}
</style>

{% schema %}
  {
    "name": "t:sections.spotlight.name",
    "tag": "section",
    "class": "spotlight-section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "max_blocks": 5,
    "settings": [
      {
        "type": "header",
        "content": "t:global.general_labels.general"
      },
      {
        "type": "select",
        "id": "section_visibility",
        "label": "t:global.section_visibility.label",
        "default": "always",
        "options": [
          {
            "label": "t:global.section_visibility.options.always.label",
            "value": "always"
          },
          {
            "label": "t:global.section_visibility.options.small.label",
            "value": "small"
          },
          {
            "label": "t:global.section_visibility.options.large.label",
            "value": "large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "open_bydefault",
        "label":  "t:global.open_bydefault.label",
        "default": false
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t:global.heading.label",
        "info": "t:global.heading.info",
        "default": "Shop the look"
      },
      {
      "type": "select",
      "id": "highlight_style",
      "label": "t:global.highlight_style.label",
      "default": "underline",
      "options": [
        {
          "value": "underline",
          "label": "t:global.highlight_style.options.underline.label"
        },
        {
          "value": "shape_2",
          "label": "t:global.highlight_style.options.shape_2.label"
        },
        {
          "value": "shape_3",
          "label": "t:global.highlight_style.options.shape_3.label"
        },
        {
          "value": "shape_4",
          "label": "t:global.highlight_style.options.shape_4.label"
        },
        {
          "value": "shape_5",
          "label": "t:global.highlight_style.options.shape_5.label"
        },
        {
          "value": "shape_6",
          "label": "t:global.highlight_style.options.shape_6.label"
        },
        {
          "value": "background",
          "label": "t:global.highlight_style.options.background.label"
        },
          {
            "value": "no_shape",
            "label": "t:global.highlight_style.options.no_shape.label"
          }
      ]
    },
    {
      "type": "select",
      "id": "bg__color",
      "label": "t:global.bg__color.label",
      "default": "gradient",
      "options": [
        {
          "value": "gradient",
          "label": "t:global.bg__color.options.gradient.label"
        },
        {
          "value": "solid",
          "label": "t:global.bg__color.options.solid.label"
        }
      ]
    },
    {
      "type":"checkbox",
      "id":"heading_animation",
      "label":"t:global.heading_animation.label",
      "info":"t:global.heading_animation.info"
    },
      {
        "type": "select",
        "id": "heading_size",
        "label": "t:global.heading.heading_size.label",
        "default": "h1",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          }, {
            "value": "h5",
            "label": "H5"
          }, {
            "value": "h6",
            "label": "H6"
          }
        ]
      }, {
        "type": "select",
        "id": "seo_heading",
        "label": "t:global.heading.heading_tag.label",
        "info": "t:global.heading.heading_tag.info",
        "default": "h2",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          }, {
            "value": "h5",
            "label": "H5"
          }, {
            "value": "h6",
            "label": "H6"
          }
        ]
      }, 
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "t:global.heading_alignment.label",
        "default": "text-center",
        "options": [
          {
            "label": "t:global.heading_alignment.options.left.label",
            "value": "text-left"
          },
          {
            "label": "t:global.heading_alignment.options.center.label",
            "value": "text-center"
          },
          {
            "label": "t:global.heading_alignment.options.right.label",
            "value": "text-right"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:global.general_labels.colors"
      }, 
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "primary",
        "label": "t:global.color_scheme.label"
      }, 
      {
        "type": "checkbox",
        "id": "enable_gradient",
        "label": "t:global.general_labels.gradient",
        "default": false
      }, 
      {
        "type": "header",
        "content": "t:global.section_padding.label"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:global.section_padding.options.top_space_desktop.label",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:global.section_padding.options.bottom_space_desktop.label",
        "default": 70,
        "min": 0,
        "max": 150,
        "step": 5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:global.section_padding.options.top_space_mobile.label",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:global.section_padding.options.bottom_space_mobile.label",
        "default": 40,
        "min": 0,
        "max": 100,
        "step": 5
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.spotlight.blocks.look_image.name",
        "settings": [

          {
            "type": "image_picker",
            "id": "image_id",
            "label": "t:global.general_labels.image"
          },
          {
            "type": "header",
            "content": "t:sections.spotlight.blocks.look_image.settings.hotspot1.label"
          },
          {
            "type": "checkbox",
            "id": "enable_1",
            "label":  "t:sections.spotlight.blocks.look_image.settings.enable.label",
            "default": true
          },
          {
            "type": "product",
            "id": "product1",
            "label": "t:global.general_labels.product"
          },
          {
            "type": "header",
            "content":  "t:sections.spotlight.blocks.look_image.settings.position.label"
          },
           {
            "type": "range",
            "id": "horizontal_pos1",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "label":  "t:sections.spotlight.blocks.look_image.settings.horizontal_pos.label",
            "default": 30
          }, {
            "type": "range",
            "id": "vertical_pos1",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "label":  "t:sections.spotlight.blocks.look_image.settings.vertical_pos.label",
            "default": 30
          }, {
            "type": "color",
            "id": "color_id1",
            "label":  "t:sections.spotlight.blocks.look_image.settings.background_color.label",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "border_color_id1",
            "label":  "t:sections.spotlight.blocks.look_image.settings.color.label",
            "default": "#FFFFFF"
          }, {
            "type": "header",
            "content": "t:sections.spotlight.blocks.look_image.settings.hotspot2.label"
          },
          {
            "type": "checkbox",
            "id": "enable_2",
            "label":  "t:sections.spotlight.blocks.look_image.settings.enable.label",
            "default": true
          }, {
            "type": "product",
            "id": "product2",
            "label": "t:global.general_labels.product"
          }, {
            "type": "header",
            "content":  "t:sections.spotlight.blocks.look_image.settings.position.label"
          }, {
            "type": "range",
            "id": "horizontal_pos2",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "label":  "t:sections.spotlight.blocks.look_image.settings.horizontal_pos.label",
            "default": 20
          }, {
            "type": "range",
            "id": "vertical_pos2",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "label": "t:sections.spotlight.blocks.look_image.settings.vertical_pos.label",
            "default": 40
          }, {
            "type": "color",
            "id": "color_id2",
            "label":  "t:sections.spotlight.blocks.look_image.settings.background_color.label",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "border_color_id2",
            "label":  "t:sections.spotlight.blocks.look_image.settings.color.label",
            "default": "#FFFFFF"
          }, {
            "type": "header",
            "content": "t:sections.spotlight.blocks.look_image.settings.hotspot3.label"
          },
          {
            "type": "checkbox",
            "id": "enable_3",
            "label":  "t:sections.spotlight.blocks.look_image.settings.enable.label",
            "default": true
          }, {
            "type": "product",
            "id": "product3",
            "label": "t:global.general_labels.product"
          }, {
            "type": "header",
            "content":  "t:sections.spotlight.blocks.look_image.settings.position.label"
          }, {
            "type": "range",
            "id": "horizontal_pos3",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "label":  "t:sections.spotlight.blocks.look_image.settings.horizontal_pos.label",
            "default": 30
          }, {
            "type": "range",
            "id": "vertical_pos3",
            "min": 0,
            "max": 90,
            "step": 1,
            "unit": "%",
            "label":  "t:sections.spotlight.blocks.look_image.settings.vertical_pos.label",
            "default": 50
          }, {
            "type": "color",
            "id": "color_id3",
            "label":  "t:sections.spotlight.blocks.look_image.settings.background_color.label",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "border_color_id3",
            "label":  "t:sections.spotlight.blocks.look_image.settings.color.label",
            "default": "#FFFFFF"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.spotlight.name",
        "blocks": [
          {
            "type": "text"
          }, {
            "type": "text"
          }, {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}