{% liquid
  assign Colorscheme = section.settings.color_scheme
  assign Cardbg = section.settings.card_bg
%}
<div class="scheme-{{ Colorscheme }} section-padding{% if section.settings.enable_gradient %} gradiant{% endif %}">
{% if section.settings.background_img != blank %}<div class="testimonial-bg">{%  render 'lazy-image', image: section.settings.background_img %}</div>{% endif %}
  <div class="{% if section.settings.testimonial_style == 'image-with-text-carousal' %}container{% else %}container-sm{% endif %}">
    {% if section.settings.testimonial_style == 'image-with-text-carousal' or section.settings.testimonial_style == 'carousal-with-image-bottom' %}
      {% render 'testimonial-style1', section: section %} 
    {% elsif section.settings.testimonial_style == 'collage-carousal' %}
      {% render 'testimonial-style2', section: section %}
    {% endif %}
  </div>
</div>
<style>
  #shopify-section-{{ section.id }}{
    --padding-top: {{ section.settings.top_space_desktop}}px;
    --padding-bottom: {{ section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:767px) {
    #shopify-section-{{ section.id }}{
      --padding-top: {{ section.settings.top_space_mobile }}px !important;
      --padding-bottom: {{ section.settings.bottom_space_mobile }}px !important;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media(max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media(min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% endif %}
</style>
{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class": "testimonials-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 9,
  "settings": [
    {
      "type": "header",
      "content": "t:global.general_labels.general"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:global.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:global.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:global.section_visibility.options.small.label",
          "value": "small"
        },
        {
          "label": "t:global.section_visibility.options.large.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "testimonial_style",
      "label": "t:sections.testimonials.settings.testimonial_style.label",
      "default": "collage-carousal",
      "options": [
        {
          "value": "image-with-text-carousal",
          "label": "t:sections.testimonials.settings.testimonial_style.options.carousal"
        },
        {
          "value": "collage-carousal",
          "label": "t:sections.testimonials.settings.testimonial_style.options.image"
        },
        {
          "value": "carousal-with-image-bottom",
          "label": "t:sections.testimonials.settings.testimonial_style.options.carousal_with_bottom_img"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_card_border",
      "label": "t:sections.testimonials.settings.enable_card_border.label",
      "info": "t:sections.testimonials.settings.enable_card_border.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_card_shadow",
      "label": "t:sections.testimonials.settings.enable_card_shadow.label",
      "info": "t:sections.testimonials.settings.enable_card_shadow.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.carousal.label"
    },
    {
      "type": "checkbox",
      "id": "enlargen_slide",
      "label": "t:sections.testimonials.settings.enlargen_slide.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.testimonials.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.testimonials.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "select",
      "id": "slider_thumbnail",
      "label": "t:sections.testimonials.settings.slider_thumbnail.label",
      "default": "only-arrow",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.testimonials.settings.slider_thumbnail.options.dots"
        },
        {
          "value": "only-arrow",
          "label": "t:sections.testimonials.settings.slider_thumbnail.options.arrows"
        }
      ]
    },
    {
      "type": "select",
      "id": "enlargen_message_font_size",
      "label": "t:sections.testimonials.settings.enlargen_message_font_size.label",
      "info": "t:sections.testimonials.settings.enlargen_message_font_size.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:global.general_labels.image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.testimonials.settings.image_position.label",
      "default": "left",
      "options": [
        {
          "label": "t:global.general_labels.left",
          "value": "left"
        },
        {
          "label": "t:global.general_labels.top",
          "value": "top"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.general_labels.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:global.heading.label",
      "info": "t:global.heading.info",
      "default": "Testimonial"
    },
     {
      "type": "select",
      "id": "highlight_style",
      "label": "t:global.highlight_style.label",
      "default": "underline",
      "options": [
        {
          "value": "underline",
          "label": "t:global.highlight_style.options.underline.label"
        },
        {
          "value": "shape_2",
          "label": "t:global.highlight_style.options.shape_2.label"
        },
        {
          "value": "shape_3",
          "label": "t:global.highlight_style.options.shape_3.label"
        },
        {
          "value": "shape_4",
          "label": "t:global.highlight_style.options.shape_4.label"
        },
        {
          "value": "shape_5",
          "label": "t:global.highlight_style.options.shape_5.label"
        },
        {
          "value": "shape_6",
          "label": "t:global.highlight_style.options.shape_6.label"
        },
        {
          "value": "background",
          "label": "t:global.highlight_style.options.background.label"
        },
        {
          "value": "no_shape",
          "label": "t:global.highlight_style.options.no_shape.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg__color",
      "label": "t:global.bg__color.label",
      "default": "gradient",
      "options": [
        {
          "value": "gradient",
          "label": "t:global.bg__color.options.gradient.label"
        },
        {
          "value": "solid",
          "label": "t:global.bg__color.options.solid.label"
        }
      ]
    },
    {
      "type":"checkbox",
      "id":"heading_animation",
      "label":"t:global.heading_animation.label",
      "info":"t:global.heading_animation.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:global.heading.heading_size.label",
      "default": "h1",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading",
      "label": "t:global.heading.heading_tag.label",
      "info": "t:global.heading.heading_tag.info",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "t:global.general_labels.description"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:global.content_alignment.label",
      "default": "text-center",
      "options": [
        {
          "label": "t:global.content_alignment.options.left.label",
          "value": "text-left"
        },
        {
          "label": "t:global.content_alignment.options.center.label",
          "value": "text-center"
        },
        {
          "label": "t:global.content_alignment.options.right.label",
          "value": "text-right"
        }
      ]
    },
    {
        "type": "text_alignment",
        "id": "testimonial_text_alignment",
        "label": "t:sections.testimonials.settings.testimonial_text_alignment.label",
        "default": "center"
    },
    {
      "type": "select",
      "id": "font_type",
      "label": "t:sections.testimonials.settings.font_type.label",
      "default": "body-font",
      "options": [
        {
          "label": "t:sections.testimonials.settings.font_type.options.heading-font.label",
          "value": "heading-font"
        },
        {
          "label": "t:sections.testimonials.settings.font_type.options.body-font.label",
          "value": "body-font"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.general_labels.background"
    },
    {
      "type": "image_picker",
      "id": "background_img",
      "label": "t:sections.testimonials.settings.background_img.label"
    },
    {
      "type": "header",
      "content": "t:global.general_labels.color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "primary",
      "label": "t:global.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "t:global.general_labels.gradient",
      "default": false
    },
    {
      "type": "header",
      "content": "t:global.section_padding.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:global.section_padding.options.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:global.section_padding.options.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:global.section_padding.options.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:global.section_padding.options.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:sections.testimonials.blocks.quote.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "author_title",
          "label": "t:sections.testimonials.blocks.quote.settings.title.label",
          "default": "Add title here"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:global.general_labels.image"
        },
        {
          "type": "inline_richtext",
          "id": "author",
          "label": "t:sections.testimonials.blocks.quote.settings.name.label",
          "default": "Author name"
        },
        {
          "type": "inline_richtext",
          "id": "country_name",
          "label": "t:sections.testimonials.blocks.quote.settings.country_name.label",
          "default": "Country name"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "t:sections.testimonials.blocks.quote.settings.show_rating.label",
          "default": true
        },
        {
          "type": "range",
          "id": "rating",
          "label": "t:sections.testimonials.blocks.quote.settings.rating.label",
          "min": 1,
          "max": 5,
          "default": 5,
          "step": 1
        },
        {
          "type": "inline_richtext",
          "id": "message",
          "label": "t:sections.testimonials.blocks.quote.settings.message.label",
          "default": "Add client reviews & testimonials to showcase your store’s happy clients."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.name",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
