{% capture productStickyBlocks %} 
    {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'vendor' -%}
       {% if block.settings.sticky_form and product.vendor %}
          <p class="product-detail-item">
            {% liquid
              if product != blank
                echo product.vendor | strip_html
              else
                echo 'onboarding.vendor' | t
              endif
            -%}
          </p>
       {% endif %}
      {%- when 'text' -%}
       {% if block.settings.sticky_form and block.settings.text != blank %}
        <p class="product-detail-item">
          {{ block.settings.text }}
        </p>
       {% endif %}
      {%- when 'rating' -%}
       {% if block.settings.sticky_form %}
        {% render 'reviews-without-count', cardProduct: product %}
       {% endif %}
      {%- when 'price' -%}
       {% if block.settings.sticky_form %}
        {% liquid
          assign compare_at_price = current_variant.compare_at_price
          assign price = current_variant.price
          assign money_price = price | money
          assign offText = 'Off'
        %}
        <div
          class="product-price no-js-hidden"
          data-saving-status="{{ discountPercent }}"
          data-saving-type="{{ settings.sale_label_type }}"
          data-price
          {{ block.shopify_attributes }}
        >
          <span class="price-item actual-price {% if priceTag != false %}h3{% endif %}" data-regular-price>
            {{- money_price -}}
          </span>
          <span
            class="price-item compare-price {% unless compare_at_price > price  %} hidden{% endunless %}"
            data-compare-price
          >
            {{ compare_at_price | money }}
          </span>
          {% if discountPercent %}
            <span
              class="product-percent-off {% unless compare_at_price > price %}hidden{% endunless %}"
              data-price-saving
            >
              {% if settings.sale_label_type == 'percent-off' %}
                {{ compare_at_price | minus: price | times: 100 | divided_by: compare_at_price | append: '% ' }}
                {{ offText }}
              {% else %}
                {{ compare_at_price | minus: price | money }}
                {{ offText }}
              {% endif %}
            </span>
          {% endif %}
          <span class="hidden">{{ 'products.product.price.unit_price' | t }}</span>
          <span
            class="product-unit-price {% if unitSize %}text-xsmall{% else %}text-small{% endif %} {% unless current_variant.unit_price_measurement %} hidden{% endunless %}"
            data-unit-price
          >
            {{ current_variant.unit_price | money }} /
            {% if current_variant.unit_price_measurement.reference_value != 1 -%}
              {{- current_variant.unit_price_measurement.reference_value -}}
            {%- endif %}
            {{ current_variant.unit_price_measurement.reference_unit }}
          </span>
          <span data-soldout-text class="text-small hidden">
            {%- unless current_variant.available -%}{{ 'products.product.sold_out' | t }}{%- endunless -%}
          </span>
          {% unless block.settings.hide_shipping_content %}
            {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
              <p class="text-small product-tax-shipping">
                {%- if cart.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </p>
            {%- endif -%}
          {% endunless %}
        </div>
        {% if product != blank %}
          {%- assign product_form_installment_id = 'product-form-installment-' | append: formid %}
          {%- form 'product', product, id: product_form_installment_id -%}
            <input
              type="hidden"
              name="id"
              value="{{ product.selected_or_first_available_variant.id }}"
              disabled
            >
            {{ form | payment_terms }}
          {%- endform -%}
        {% endif %}
     {% endif %}
   
      {% when 'sku' %}
       {% if block.settings.sticky_form %}
          {% if current_variant.sku != blank %}
            <p
              class="product-detail-item"
              data-variant-sku
              {{ block.shopify_attributes }}
            >
              {{ current_variant.sku }}
            </p>
          {% endif %}
      {% endif %}
      {%- when 'buttons' -%}
      {% if block.settings.sticky_form %}
        <div class="pdp-form-action-wrapper" {{ block.shopify_attributes }}>
          {% if settings.enable_terms_checkbox and settings.terms_conditions_text != blank %}
            <div class="terms-conditions-block" data-terms-conditions {% unless current_variant.available %} style="display:none;" {% endunless %}>
              <div class="checkbox-box">
                <input type="checkbox" class="checkbox-input" name="terms-conditions" value="" id="terms-conditions" data-product-terms>
                <span class="checkbox-tick"></span>
                <label class="filter-hand-icon" for="terms-conditions" title="terms-conditions">{{ settings.terms_conditions_text }}</label>
              </div>
            </div>
        {% endif %}
        <div class="product_form_wrapper">
          {% if product != blank %}
            {% form 'product', product, id: formid,
              class: 'form',
              novalidate: 'novalidate',
              data-type: 'add-to-cart-form' %}
              <script type="application/json" data-product-variants>
                {{ product.variants | json }}
              </script>
              <input
                type="hidden"
                name="id"
                value="{{ current_variant.id }}"
                disabled
              >
                <!-- <input type="hidden" name="quantity" id="sticky_quantity" value="1"> -->
              {%- liquid
                assign gift_card_recipient_feature_active = false
                if block.settings.show_recipient_form and product.gift_card?
                  assign gift_card_recipient_feature_active = true
                endif
              %}
              {% if gift_card_recipient_feature_active %}
                {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
              {% endif %}
              <div class="form-message error hidden" data-form-error></div>
              {% render 'product-form-buttons' product:product,section:section,block:block,current_variant:current_variant,formid:formid,form:form %}
            {% assign multiplierValue = block.settings.add_multipliers | split: ',' %}
              {% if multiplierValue != blank %}
             <div class="with-add-multipliers">
              {% for multiplier in multiplierValue %}
                {% if multiplier != blank %}
                <div class="add-multiplier">
                  <button type="button" class="btn btn--add-multiplier" data-value="{{ multiplier }}" data-add-multiplier>×{{ multiplier }}</button>
                </div>
                  {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endform %}
          {% else %}
            <div class="pdp-action-wrapper">
              <button type="submit" class="medium-btn button{% if settings.enable_button_shadow %} button-shadow{% endif %}" disabled="true">
                
              {%- if product.selected_or_first_available_variant == null -%}
                 <span>{{ 'products.product.unavailable' | t }}</span>
                {% elsif product.selected_or_first_available_variant.available == false %}
                <span>{{ 'products.product.sold_out' | t }}</span>
                {% else %}
                 <span>{{ 'products.product.add_to_cart' | t }}</span>
                {% endif %}
              </button>
            </div>
          {% endif %}
        </div>
        </div>
        {% endif %}
    
      {% when 'inventory-status' %}
      {% if block.settings.sticky_form %}
        {% if block.settings['inventory-status']%}
          <div
            class="product-block inventory-counter"
            data-stock="{{ current_variant.inventory_quantity }}"
            data-min="{{ settings.low_inventory }}"
            data-product-inventory-bar-wrapper
          >
            {% assign stockValue = settings.low_inventory %}
            <ul>
              {% if block.settings['inventory-status'] -%}
                <li
                  class="{%- if current_variant.inventory_quantity > 0 or current_variant.available == true %}avialable-stock {% else %}hidden {% endif %}{% if current_variant.inventory_quantity > stockValue %}inventory-in-stock instock{% else %}inventory-low-stock lowstock{% endif %}"
                  data-inventory-status
                >
                  {% if current_variant.inventory_management != blank %}
                    {% render 'icons', icon: 'instock' -%}
                    <span class="product-inventory-count">
                      {%- if current_variant.inventory_quantity > 0 %}
                        {{ current_variant.inventory_quantity -}}
                      {%- endif -%}
                      {%- if current_variant.inventory_quantity > stockValue %}
                        {{ 'products.product.instock' | t }}
                      {% else %}
                        {{ 'products.product.lowstock' | t }}
                      {%- endif %}
                    </span>
                  {% endif %}
                </li> 
              {%- endif %}
            </ul>
          </div>
        {% endif %}
        {% endif %}
     
      {% when 'pickup' %}
        {% if block.settings.sticky_form %}
        {%- assign pickupAvailabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true -%}
        {% if pickupAvailabilities.size > 0 %}
          <div
            class="pickup-availability__container"
            id="pickup-availability__container"
            data-root-url="{{ routes.root_url }}"
            {% if current_variant.available and pickupAvailabilities.size > 0 %}
              available
            {% endif %}
            data-pickup-availability{{ block.shopify_attributes }}
          >
            {%- render 'pickup-availability-content',
              product: product,
              current_variant: current_variant,
              showList: false
            -%}
          </div>
        {% endif %}
       {% endif %}
      {% when 'query_form' %}
      {% if block.settings.sticky_form %}
        <div class="ask-question">
          <a
            href="#productQueryForm"
            class="variant-info hyperlink"
            data-side-drawer-open
          >
            {% render 'icons', icon: 'question' %}
            <span>{{ block.settings.title }}</span>
          </a>
          {%- liquid
            if block.settings.title != blank
              render 'product-query-form', block: block, formTrigger: false
            endif
          -%}
        </div>
        {% endif %}
      {% when 'shareicons' %}
        {% if block.settings.sticky_form %}
          {% if section.blocks.size > 1 %}
            <div class="share-icons-parent">
              <span class="share-icons">{{ 'products.product.share' | t }}:</span>
              {% render 'social-sharing-icons',
                block: block,
                share_title: product.title,
                share_permalink: product.url,
                share_image: product
              %}
            </div>
          {% endif %}
        {% endif  %}
  
      {% when 'payment-icons' %}
        {% if block.settings.sticky_form %}
          {% if block.settings.enable_payment_icons %}
             <div class="product-payments">
              <ul class="unstylish-list list-payment">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="list-payment-item">
                    {{ type | payment_type_svg_tag: class: 'icon' }}
                  </li>
                {%- endfor -%}
              </ul>
             </div>
           {% endif  %}
        {% endif  %}
    {% endcase %}
  {% endfor %}
  {% endcapture %}

{% capture productStickyComplementaryBlocks %} 
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {% when 'complementary_products' %}
            {% if block.settings.sticky_form %}
              {%- liquid
                render 'complementary-products', product , section, block: block
              -%}
            {% endif %}
      {% endcase %}
    {% endfor %}
  {% endcapture %}
  {% if productStickyBlocks != blank or productStickyComplementaryBlocks != blank %}
    <div class="product-right-content-sticky d-xl-block">
       {% if productStickyBlocks != blank %}
        <div class="product-right-content-sticky-inner">
          {{ productStickyBlocks }}
        </div>
      {% endif %}
        {% if productStickyComplementaryBlocks != blank  %}
          {{ productStickyComplementaryBlocks }}
        {% endif %}
    </div>
  {% endif %}
  

  