{%- liquid
  assign current_variant = cardProduct.selected_or_first_available_variant
  if gridImageSize == 'landscape'
    assign productImageRatio = 'var(--img-landscape)'
  elsif gridImageSize == 'square'
    assign productImageRatio = 'var(--img-square)'
  elsif gridImageSize == 'portrait'
    assign productImageRatio = 'var(--img-portrait)'
  else
    if cardProduct.featured_media != blank
      assign productImageRatio = 1 | divided_by: cardProduct.featured_media.preview_image.aspect_ratio | times: 100 | append: '%'
    else
      assign productImageRatio = 100 | append: '%'
    endif
  endif
  assign current = current | default: 1
  if settings.show_inventory
    assign thershold = settings.low_inventory
    if cardProduct.available == true
      assign stock = 0
      assign selling = false
      assign lows_inventory = false
      assign track_inventory = true
      for variant in cardProduct.variants
        if variant.inventory_policy == 'continue'
          assign selling = true
        endif
        if variant.inventory_management == null
          assign track_inventory = false
        endif
        if variant.inventory_quantity == 0
          assign lows_inventory = true
        endif
        if variant.inventory_quantity > 0
          assign stock = stock | plus: variant.inventory_quantity
        endif
      endfor
      if track_inventory == true
        if lows_inventory == true and selling and stock >= 0
          assign stockconent =   'products.product.instock' | t 
          assign stockClass = 'instock'
        elsif selling == false and stock > 0 and stock > thershold
          assign stockconent = 'products.product.instock' | t  | append: ' (' | append: stock | append: ' units' | append: ')'
          assign stockClass = 'instock'
        elsif stock > 0 and thershold > stock
          assign stockconent ='products.product.lowstock' | t | append: ' (' | append: stock | append: ' units' | append: ')'
          assign stockClass = 'lowstock'
        elsif stock <= 0 and selling == true
          assign stockconent = 'Instock'
          assign stockClass = 'instock'
        else
          assign stockconent = 'products.product.instock' | t 
          assign stockClass = 'instock'
        endif
      elsif track_inventory == false
        if selling == true and track_inventory == false and stock > 0
          assign stockconent = 'products.product.instock' | t 
          assign stockClass = 'instock'
        elsif selling == false and stock > 0 and stock > thershold
          assign stockconent = 'products.product.instock' | t  | append: ' (' | append: stock | append: ' units' | append: ')'
          assign stockClass = 'instock'
        elsif stock > 0 and thershold > stock
          assign stockconent = 'products.product.lowstock' | t | append: ' (' | append: stock | append: ' units' | append: ')'
          assign stockClass = 'lowstock'
        elsif stock <= 0 and selling == true
          assign stockconent = 'products.product.instock' | t 
          assign stockClass = 'instock'
        else
          assign stockconent = 'products.product.instock' | t 
          assign stockClass = 'instock'
        endif
      endif
    else 
    assign stockconent = 'products.product.outofstock' | t 
    assign stockClass = 'outofstock'
    endif
  endif
  if settings.enable_animation 
    assign aosAnimation = 'data-aos="zoom-in"'
  else
    assign aosAnimation =''
  endif

  assign gradients = ''
%}

  {%- liquid
  if settings.marquee_text_gr != empty or settings.marquee_text_gr != blank
    assign  gradients = 'gradient-text'
  endif
  %}

<div class="product-card-item{% if settings.sale_label_with_percentage and settings.sale_label_type == 'percent-off' and cardProduct.compare_at_price_max %} sale-badge-percentage{% endif %}" data-product-grid {% if settings.quickview_onhover == true and settings.quickview_style == 'button' %}data-product-hover{% endif %} {{ aosAnimation }}>
  <div
    class="product-card{% if settings.image_background == true and settings.grid_gap == true  %} product-gap-enabled{% endif %} {% if settings.image_background == true and settings.image_border == true  %}product-background-enabled product-border-enabled{% if settings.image_border_hover %} product-border-hover{% endif %}{% elsif settings.image_background == false and settings.image_border == true and settings.image_border_hover %} product-border-enabled product-border-hover{% elsif settings.image_background == true %}product-background-enabled{% endif %} {% if settings.quickview_onhover == true %}product-quickview-hover{% endif %}"
  >
    <div class="product-card-img {% if cardProduct != blank and cardProduct.media.size > 1%}on-hover-img{% endif %}">
      {% liquid
        assign productUrl = cardProduct.url | within: collection
        if settings.hide_collection_from_url
          assign productUrl = cardProduct.url 
        endif
        assign imageOnlyBorder = false
        if settings.image_background == false and settings.image_border == true and settings.image_border_hover
        assign imageOnlyBorder = false
        elsif settings.image_background == false and settings.image_border == true
        assign imageOnlyBorder = true
        endif
      %}
      <a
        class="product-img{% if settings.image_background == false and settings.grid_gap == true  %} product-gap-enabled{% endif %}{% if imageOnlyBorder %} product-border-enabled{% if settings.image_border_hover %} product-border-hover{% endif %}{% endif %}"
        {% if cardProduct == blank %}
          role="link"
          aria-disabled="true"
        {% else %}
          href="{{ productUrl }}"
        {% endif %}
        tabindex="-1"
       title="{{ cardProduct.title | escape | default:shop.name}} "
       product-image
      >
        <div class="media" Style="--imageRatio:{{ productImageRatio }}">
            {% if cardProduct.featured_media != blank %}
              {% if cardProduct.featured_media.media_type  == 'video' %}
                {% if settings.show_video_in_grid %}
                  <deferred-media class="deferred-media" >
                    <template>
                      {{
                        cardProduct.featured_media
                        | media_tag:
                          loading: 'lazy',
                          class: 'no-js-hidden',
                          autoplay: true,
                          controls: false,
                          loop:true,
                          preload: 'none'
                      }}
                    </template>
                    <div class="deferred-media-placeholder">
                        {% render 'lazy-image', image: cardProduct.featured_media.preview_image, imageSize: 500 %}
                    </div>
                    <noscript>
                        <img
                          src="{{ cardProduct.featured_media.preview_image | image_url: width: 2048 }}"
                          alt="{{ cardProduct.featured_media.preview_image.alt | escape }}"
                          loading="lazy"
                          width="{{ cardProduct.featured_media.preview_image.width }}"
                          height ="{{ cardProduct.featured_media.preview_image.height }}"
                          aria-label="{{ cardProduct.featured_media.alt | default: cardProduct.title | strip_html }}"
                        > 
                    </noscript>
                  </deferred-media>
                {% else %}
                {%- render 'lazy-image', image: cardProduct.featured_media.preview_image, class: 'product-image' ,imageSize:500 -%}
              {% endif %}
                {% else %}
                  {% render 'lazy-image', image: cardProduct.featured_media.preview_image, class: 'product-image',imageSize:500 %}
              {% endif %}
            {% else %}
              {{  'product-apparel-' | append: cycleIndex | placeholder_svg_tag: 'placeholder-svg'  }}
           {% endif %}
         
        </div>
        {% if cardProduct.media[1] != blank and settings.product_second_image %}
          <div class="product-second-img">
            {% if cardProduct.media[1].media_type  == 'video' and settings.show_video_in_grid %}
                  <deferred-media class="deferred-media" >
                    <template>
                      {{
                        cardProduct.media[1]
                        | media_tag:
                          loading: 'lazy',
                          class: 'no-js-hidden product-img-hover',
                          autoplay: true,
                          controls: false,
                          loop:true,
                          preload: 'none'
                      }}
                    </template>
                     <div class="deferred-media-placeholder">
                        {% render 'lazy-image', image: cardProduct.media[1].preview_image, imageSize: 500 %}
                    </div>
                    <noscript>
                        <img
                          src="{{ cardProduct.media[1].preview_image | image_url: width: 2048 }}"
                          alt="{{ cardProduct.media[1].preview_image.alt | escape }}"
                          loading="lazy"
                          width="{{ cardProduct.media[1].preview_image.width }}"
                          height ="{{ cardProduct.media[1].preview_image.height }}"
                          aria-label="{{ cardProduct.media[1].alt | default: cardProduct.title | strip_html }}"
                        > 
                    </noscript>
                  </deferred-media>
              {% else %}
                  {% render 'lazy-image', image: cardProduct.media[1], class: 'product-img-hover' %}
            {% endif %}
          </div>
        {% endif %}
        
        </a>
        {% if cardProduct.available %}
          {% if settings.show_countdown and showCount  and complementary != true %}
            {% render 'product-countdown', cardProduct: cardProduct %}
          {% endif %}
        {% endif %}
        {% if settings.show_marquee_text and cardProduct.metafields.theme.marquee_text.value != blank %}

            {%- capture direction -%}
              
              {%- if settings.direction == 'ltr' -%}
              {%- cycle section_id:'ltr','rtl' -%}
              {%- else -%}      
              {%- cycle section_id:'rtl','ltr' -%}
              {%- endif -%}
            {%- endcapture -%}
            <div class="product-text-marque-wrapper">
              <div
                class="product-text-marque-content"
                data-marquee-speed="{{ settings.scrolling_speed }}"
                data-marquee-speed-mobile="{{ settings.scrolling_speed_mobile }}"
                data-marquee
              >
                {% for i in (1..5) %}
                  <div
                    class="product-text-marque-node {{ direction }}-direction heading-font {{gradients}}"
                    data-marque-node
                  >
                  
                  {% assign marquee_text = cardProduct.metafields.theme.marquee_text.value  %}
                      {{ marquee_text  }}
                    
                    </div>
                {% endfor %}
                </div>
            </div>

        {% endif %}
      
      {% if cardProduct != blank  and complementary != true %}
        <div class="product-card-badges {{ settings.badge_style }}">
          {% render 'product-badge', cardProduct: cardProduct, new_date_tag_enable: new_date_tag_enable %}
        </div>
      {% endif %}
      <div class="product-card-action-wrapper">
        {% if settings.quickview and settings.quickview_style == 'icon' and cardProduct != blank and quickViewtrue %}
          <a class="quick-view-icon product-quickview"
            href="{{ productUrl }}"
            tabindex="-1"
            aria-label="{{ cardProduct.tite }} quick view link"
            data-quick-view>
            <svg width="17" height="19" viewBox="0 0 17 19" fill="none">
              <path d="M16.7399 15.6869L15.6237 5.03623C15.6237 4.65585 15.2516 4.37057 14.8795 4.37057H12.7401C12.6471 2.37357 10.7867 0.852051 8.64728 0.852051C6.50786 0.852051 4.74051 2.37357 4.55447 4.37057H2.41505C2.04298 4.37057 1.76393 4.65585 1.67091 5.03623L0.554688 15.6869C0.554688 15.782 0.554688 15.782 0.554688 15.8771C0.554688 17.3035 1.94996 18.4446 3.71731 18.4446H13.5772C15.3446 18.4446 16.7399 17.3035 16.7399 15.8771V15.6869ZM14.7865 16.6378C14.5074 16.828 14.0423 17.0182 13.5772 17.0182H3.71731C3.25222 17.0182 2.78713 16.9231 2.50807 16.6378C2.22902 16.4476 2.04298 16.1624 2.04298 15.782L3.06618 5.7019H4.55447V7.03323C4.55447 7.41361 4.92655 7.6989 5.29862 7.6989C5.67069 7.6989 6.04277 7.41361 6.04277 7.03323V5.7019H11.3448V7.03323C11.3448 7.41361 11.7169 7.6989 12.089 7.6989C12.461 7.6989 12.8331 7.41361 12.8331 7.03323V5.7019H14.3214L15.3446 15.6869C15.3446 15.9722 15.1586 16.2575 14.8795 16.5427L14.7865 16.6378ZM6.04277 4.37057C6.13578 3.13433 7.34502 2.27848 8.64728 2.27848C9.94954 2.27848 11.1588 3.22943 11.2518 4.37057H6.04277Z" fill="currentColor"/>
          </svg>
          </a>
        {% endif %}

        {% if compareTrue and settings.compare and cardProduct != blank %}
          <div class="compare-add-button" data-compare-item>
            <div class="compare-checkbox">
              <input
                type="checkbox"
                onClick="compareProducts(event);"
                name="productCompare{{randomNumber}}"
                id="productitem__compare-checkbox-{{ randomNumber }}"
                class="js-compare-checkbox"
                data-product-url="{{ cardProduct.url }}"
                data-product-id="{{ cardProduct.id }}"
                data-compare-checkbox
              >
              <label class="compare-checkmark compare-label" for="productitem__compare-checkbox-{{ randomNumber }}">
                {{- 'onboarding.compare' | t -}}
                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" >
                  <path d="M1 2.0764L3.66649 2.96528M3.66649 2.96528L1 10.9653C2.57548 12.1504 4.75856 12.1506 6.33404 10.9653L3.66649 2.96528ZM3.66649 2.96528L8.99948 1.1875M8.99948 1.1875L14.3325 2.96528M8.99948 1.1875V1.40973M8.99948 1.1875V15.4097M14.3325 2.96528L16.999 2.0764M14.3325 2.96528L11.6659 10.9653C13.2415 12.1504 15.4245 12.1506 17 10.9653L14.3325 2.96528ZM8.99948 15.4097H6.33298M8.99948 15.4097H11.6659" stroke="currentColor" stroke-width="1.15" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

              </label>
            </div>
          </div>
        {% endif %}
    </div>
    
    </div>
    <div class="product-card-detail text-{{ settings.content_alignment }}">
      
    {% if complementary != true %}
      {% if settings.show_inventory or settings.product_vendor %}
        <div class="product-card-info">
          {% if settings.product_vendor and cardProduct.vendor != blank %}
            <span class="d-none">vendor</span>
            <span class="vendor-name">{{ cardProduct.vendor }}</span>
          {% endif %}
          {% if settings.show_inventory %}
            <span class="stock-status {{ stockClass }}">
              {{ stockconent }}
            </span>
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
      {%  liquid  
        if settings.card_title_font_style == 'small'
          assign customClass = 'text'
        elsif settings.card_title_font_style == 'medium'
          assign customClass = 'text-medium'
        elsif settings.card_title_font_style == 'large'
          assign customClass = 'text-large'
        endif 
      %} 
      <a
        {% if cardProduct == blank %}
          role="link"
          aria-disabled="true"
        {% else %}
          href="{{ productUrl }}"
        {% endif %}
        class="product-title {{ customClass }}"
      >
        {% if settings.product_card_title_style == 'bold' %}
          <strong>
        {% endif %}
        {%- liquid
          if cardProduct != blank
            echo cardProduct.title | strip_html
          else
            echo 'onboarding.product_title' | t
          endif
        -%}
        {% if settings.product_card_title_style == 'bold' %}
          </strong>
        {% endif %}
      </a>
      {% unless hideContent %}
      {% render 'reviews-without-count', cardProduct: cardProduct %}
      {% if cardProduct != blank %}
        {% render 'price',
          cardProduct: cardProduct,
          priceShown: priceShown,
          current_variant: current_variant,
          comparePrice: comparePrice,
          unitPrice: unitPrice,
          priceTag: false,
          customClass: customClass
        %}
      {% else %}
        <div class="product-price">
          <span class="price-item actual-price">{{ 1999 | money}}</span>
        </div>
      {% endif %}
      {% liquid 
        if complementary != true
          if settings.enable_color_swatches
            render 'product-colors-option', cardProduct: cardProduct
          endif
        endif  
        assign min = 1 
        assign max = 1000
        assign diff = max | minus: min
        assign randomNumber = 'now' | date: '%N' | modulo: diff | plus: min 
      %}
      {% comment %} {% if complementary != true %}
        {% if settings.show_inventory or  settings.product_vendor %}
          <div class="product-card-info">
            {% if settings.product_vendor %}
              <span class="d-none">vendor</span>
              <span class="vendor-name">{{ cardProduct.vendor }}</span>
            {% endif %}
            {% if settings.show_inventory %}
              <span class="stock-status {{ stockClass }}">
                {{ stockconent }}
              </span>
            {% endif %}
          </div>
        {% endif %}
      {% endif %} {% endcomment %}
      {% if settings.quickview and settings.quickview_style == 'button' and cardProduct != blank and quickViewtrue %}
        <div class="product-quickview-button">
          <a
            {% if cardProduct == blank %}
              role="link"
              aria-disabled="true"
            {% else %}
              href="{{ productUrl }}"
            {% endif %}
            class="product-quickview button btn-block{% if settings.enable_button_shadow %} button-shadow{% endif %}"
            tabindex="-1"
            aria-label="{{ cardProduct.tite }} quick view link"
            data-quick-view
          >
            <span>{{ 'onboarding.quickview' | t }}</span>
          </a>
        </div>
      {% endif %}
           {%- if cardProduct.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
    {% endunless %}
    </div>
  </div>
</div>
