<div class="support-content-wrapper cursor-pointer" onclick="toggleStoredetailsPopup(event)">
    <div class="support-icon">
      {% comment %}
      <svg class="icon-chat " aria-hidden="true" focusable="false" role="presentation" width="44" height="44" viewBox="0 0 44 44" fill="none">      <path d="M15.5832 24.75H13.7498L6.4165 32.0833V24.75H2.74984C2.26361 24.75 1.79729 24.5569 1.45347 24.213C1.10966 23.8692 0.916504 23.4029 0.916504 22.9167V2.75001C0.916504 2.26377 1.10966 1.79746 1.45347 1.45364C1.79729 1.10983 2.26361 0.916672 2.74984 0.916672H33.9165C34.4027 0.916672 34.869 1.10983 35.2129 1.45364C35.5567 1.79746 35.7498 2.26377 35.7498 2.75001V13.75" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>      <path d="M19.25 33.9167C19.25 34.4029 19.4432 34.8692 19.787 35.213C20.1308 35.5569 20.5971 35.75 21.0833 35.75H31.1667L39.4167 43.0833V35.75H41.25C41.7362 35.75 42.2025 35.5569 42.5464 35.213C42.8902 34.8692 43.0833 34.4029 43.0833 33.9167V19.25C43.0833 18.7638 42.8902 18.2975 42.5464 17.9536C42.2025 17.6098 41.7362 17.4167 41.25 17.4167H21.0833C20.5971 17.4167 20.1308 17.6098 19.787 17.9536C19.4432 18.2975 19.25 18.7638 19.25 19.25V33.9167Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    {% endcomment %}
    {% render 'icons', icon: section.settings.icon %}
    </div>
    {% capture store_details %}
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% case block.type  %}
            {% when 'store_details'  %}
              {% if block.settings.store_details != blank or   block.settings.phone != blank or  block.settings.address_details != blank or  block.settings.email != blank %}
                <li class="store-details-dropdown-item">
                  {% if block.settings.store_details != blank  %}
                    <span class="heading-font text-large store-details-heading">{{ block.settings.store_details }}</span>
                  {% endif %}
                  {% if block.settings.phone != blank  %}
                    <a href="tel:{{ block.settings.phone  }}" class="store-details-number">{{ block.settings.phone  }}</a>
                  {% endif %}
                  {% if block.settings.address_details != blank  %}
                  <p>{{  block.settings.address_details | newline_to_br }}</p>
                  {% endif %}
                  {% if block.settings.email != blank  %}
                  <a href="mailto:{{ block.settings.email }}">{{ block.settings.email }}</a>
                  {% endif %}
                </li>
              {% endif %}
            {% endcase %}
          {% endfor %}
      {% endif %}
    {% endcapture %}

    <div class="support-content">
      <div class="support-content-text">
        <span class="text-small">{{ section.settings.store_detail }}</span>
        <span class="heading-font ">{{ section.settings.store_content }}</span>
      </div>
      {% if store_details != blank %}
        <div class="angle-down">
          {% render 'icons', icon: 'angle-down' %}
        </div>
      {% endif %}
    </div>

    
    {% if store_details != blank  %}
      <div class="store-details-dropdown-body" data-storedetails-dropdown style="display:none;">
        <ul class="list-unstyled store-details-dropdown-content">
          {{ store_details }}
        </ul>
      </div>
    {% endif %}

</div>
